﻿@using HopiBlog.Helpers
@model HopiBlog.Models.Post
@{
    var url = Utilities.AppSetting("CDNPath");
}
<link rel="canonical" href="@Request.Url.Host/@Model.Canonical">
<!-- Facebook Metas-->
<!--<meta property="fb:app_id" content="152544928686910">-->
<meta property="og:title" content="@Html.Raw(Model.OgTitle)">
<meta property="og:description" content="@Html.Raw(Model.OgDescription)">
<meta property="og:type" content="website">
<meta property="og:url" content="@Request.Url.AbsoluteUri">
@if (Model.PostType == (int) PostType.Video)
{
    <meta property="og:video" content="https://vimeo.com/@Model.VideoId"/>
}
<meta property="og:image" content="@url@Model.MobileImage">
<meta property="og:image:type" content="image/jpeg">
<!-- Twitter Metas-->
<meta name="twitter:card" content="@url@Model.MainImage">
<meta name="twitter:site" content="@("@hopiblog")">
<meta name="twitter:creator" content="@("@hopiblog")">
<meta name="twitter:title" content="@Html.Raw(Model.PostTitle)">
<meta name="twitter:description" content="@Html.Raw(Model.PostShortDescription)">
<meta name="twitter:image" content="@url@Model.MobileImage">
