﻿@using HopiBlog.Helpers
@{
    var bundle = Utilities.AppSetting("RoutePrefix") == "" ? "" : "/" + Utilities.AppSetting("RoutePrefix");
}
<!DOCTYPE html>
<!--[if IE 8]>
    <html lang="tr" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]>
    <html lang="tr" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="tr">
<!--<![endif]-->
<!-- BEGIN HEAD -->

<head>
<meta charset="utf-8"/>
<title>Hopi Blog Panel</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1" name="viewport"/>
<meta content="" name="description"/>
<meta content="" name="author"/>
<meta name="robots" content="NOINDEX, NOFOLLOW"/>
<!-- BEGIN GLOBAL MANDATORY STYLES -->
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet"
      type="text/css"/>
<link href="@bundle/Static/be/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet"
      type="text/css"/>
<link href="@bundle/Static/be/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet"
      type="text/css"/>
<link href="@bundle/Static/be/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet"
      type="text/css"/>
<!-- END GLOBAL MANDATORY STYLES -->
<!-- BEGIN THEME GLOBAL STYLES -->
<link href="@bundle/Static/be/assets/global/css/components.min.css" rel="stylesheet" id="style_components"
      type="text/css"/>
<link href="@bundle/Static/be/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css"/>
<!-- BEGIN PAGE LEVEL PLUGINS -->
<link href="@bundle/Static/be/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet"
      type="text/css"/>
<link href="@bundle/Static/be/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet"
      type="text/css"/>
<link href="@bundle/Static/be/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css"/>
<link href="@bundle/Static/be/assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css"/>
<link href="@bundle/Static/be/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css"/>
<!-- END PAGE LEVEL PLUGINS -->
<!-- END THEME GLOBAL STYLES -->
<!-- BEGIN THEME LAYOUT STYLES -->
<link href="@bundle/Static/be/assets/layouts/layout4/css/layout.min.css" rel="stylesheet" type="text/css"/>
<link href="@bundle/Static/be/assets/layouts/layout4/css/themes/default.min.css" rel="stylesheet"
      type="text/css" id="style_color"/>
<link href="@bundle/Static/be/assets/layouts/layout4/css/custom.min.css" rel="stylesheet" type="text/css"/>
<link href="@bundle/Static/be/assets/tokeninput/styles/token-input-facebook.css" rel="stylesheet" type="text/css"/>
<link href="@bundle/Static/be/assets/dropzone/basic.min.css" rel="stylesheet" type="text/css"/>
<link href="@bundle/Static/be/assets/dropzone/dropzone.min.css" rel="stylesheet" type="text/css"/>
<link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
<link href="@bundle/Static/be/assets/alertifyjs/css/alertify.min.css" rel="stylesheet">
<link href="@bundle/Static/be/assets/alertifyjs/css/themes/bootstrap.min.css" rel="stylesheet">
<!-- END THEME LAYOUT STYLES -->
<!-- END HEAD -->

@RenderSection("Styles", false)
<body class="page-container-bg-solid page-header-fixed page-sidebar-closed-hide-logo">
<!-- BEGIN HEADER -->
<div class="page-header navbar navbar-fixed-top">
    <!-- BEGIN HEADER INNER -->
    <div class="page-header-inner ">
        <!-- BEGIN LOGO -->
        <div class="page-logo">
            <a href="@Url.Action("DashBoard", "Backoffice")">
                <img src="http://www.hopi.com.tr/dist/img/logo_hopi.png" style="height: 70px" alt="logo" class="logo-default"/>
            </a>
        </div>
        <!--<div style="color: #FFF;font-size: 20px; margin-left: 10px;margin-top: 20px;">BLOG</div>-->
        <!-- END LOGO -->
        <!-- BEGIN RESPONSIVE MENU TOGGLER -->
        <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse"
           data-target=".navbar-collapse">
        </a>
        <!-- END RESPONSIVE MENU TOGGLER -->
    </div>
    <!-- END HEADER INNER -->
</div>
<!-- END HEADER -->
<!-- BEGIN HEADER & CONTENT DIVIDER -->
<div class="clearfix"></div>
<!-- END HEADER & CONTENT DIVIDER -->
<!-- BEGIN CONTAINER -->
<div class="page-container">
<!-- BEGIN SIDEBAR -->
<div class="page-sidebar-wrapper">
<!-- BEGIN SIDEBAR -->
<div class="page-sidebar navbar-collapse collapse">
<!-- BEGIN SIDEBAR MENU -->
<ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">

<li class="nav-item start @if (ViewContext.RouteData.GetRequiredString("action") == "Dashboard")
                          {
                              @Html.Raw("active")
                          }">
    <a href="@Url.Action("Dashboard", "Backoffice")" class="nav-link">
        <i class="icon-home"></i>
        <span class="title">Güncel</span>
    </a>
</li>

<li class="heading">
    <h3 class="uppercase">Slider</h3>
</li>

<li class="nav-item  @if (ViewContext.RouteData.GetRequiredString("action") == "Slider")
                     {
                         @Html.Raw("active")
                     }">
    <a href="@Url.Action("Slider", "Backoffice")" class="nav-link ">
        <i class="icon-frame"></i>
        <span class="title">Yeni Slider</span>
    </a>
</li>
<li class="nav-item  @if (ViewContext.RouteData.GetRequiredString("action") == "ListSliders")
                     {
                         @Html.Raw("active")
                     }">
    <a href="@Url.Action("ListSliders", "Backoffice")" class="nav-link ">
        <i class="icon-layers"></i>
        <span class="title">Slider Listesi</span>
    </a>
</li>

<li class="heading">
    <h3 class="uppercase">Blog</h3>
</li>

<li class="nav-item  @if (ViewBag.Page == "PostList" && ViewBag.Type == 1)
                     {
                         @Html.Raw("active")
                     }">
    <a href="@Url.Action("GetPostListByType", "Backoffice", new {type = 1})" class="nav-link ">
        <i class="icon-note"></i>
        <span class="title">Yazı</span>
    </a>
</li>
<li class="nav-item  @if (ViewBag.Page == "PostList" && ViewBag.Type == 2)
                     {
                         @Html.Raw("active")
                     }">
    <a href="@Url.Action("GetPostListByType", "Backoffice", new {type = 2})" class="nav-link ">
        <i class="icon-social-youtube"></i>
        <span class="title">Video</span>
    </a>
</li>
<li class="nav-item  @if (ViewBag.Page == "PostList" && ViewBag.Type == 3)
                     {
                         @Html.Raw("active")
                     }">
    <a href="@Url.Action("GetPostListByType", "Backoffice", new {type = 3})" class="nav-link ">
        <i class="icon-picture"></i>
        <span class="title">Galeri</span>
    </a>
</li>
<li class="nav-item  @if (ViewBag.Page == "PostList" && ViewBag.Type == 4)
                     {
                         @Html.Raw("active")
                     }">
    <a href="@Url.Action("GetPostListByType", "Backoffice", new {type = 4})" class="nav-link ">
        <i class="icon-list"></i>
        <span class="title">Liste</span>
    </a>
</li>

<li class="nav-item  @if (ViewBag.Page == "PostList" && ViewBag.Type == 5)
                     {
                         @Html.Raw("active")
                     }">
    <a href="@Url.Action("GetPostListByType", "Backoffice", new {type = 5})" class="nav-link ">
        <i class="icon-list"></i>
        <span class="title">Shop Liste</span>
    </a>
</li>

<li class="heading">
    <h3 class="uppercase">Özel İçerik Listesi</h3>
</li>

<li class="nav-item  @if (ViewContext.RouteData.GetRequiredString("action") == "SpecialContent")
                     {
                         @Html.Raw("active")
                     }">
    <a href="@Url.Action("SpecialContent", "Backoffice")" class="nav-link ">
        <i class="icon-frame"></i>
        <span class="title">Yeni Liste</span>
    </a>
</li>
<li class="nav-item  @if (ViewContext.RouteData.GetRequiredString("action") == "ListSpecialContent")
                     {
                         @Html.Raw("active")
                     }">
    <a href="@Url.Action("ListSpecialContent", "Backoffice")" class="nav-link ">
        <i class="icon-layers"></i>
        <span class="title">Tüm Listeler</span>
    </a>
</li>

<li class="heading">
    <h3 class="uppercase">Kategori Yönetimi</h3>
</li>

<li class="nav-item  @if (ViewContext.RouteData.GetRequiredString("action") == "Category")
                     {
                         @Html.Raw("active")
                     }">
    <a href="@Url.Action("Category", "Backoffice")" class="nav-link ">
        <i class="icon-folder"></i>
        <span class="title">Yeni Kategori</span>
    </a>
</li>
<li class="nav-item  @if (ViewContext.RouteData.GetRequiredString("action") == "ListCategories")
                     {
                         @Html.Raw("active")
                     }">
    <a href="@Url.Action("ListCategories", "Backoffice")" class="nav-link ">
        <i class="icon-folder-alt"></i>
        <span class="title">Kategori Listesi</span>
    </a>
</li>

<li class="heading">
    <h3 class="uppercase">Etiket (Tag) Yönetimi</h3>
</li>

<li class="nav-item  @if (ViewContext.RouteData.GetRequiredString("action") == "Tag")
                     {
                         @Html.Raw("active")
                     }">
    <a href="@Url.Action("Tag", "Backoffice")" class="nav-link ">
        <i class="icon-tag"></i>
        <span class="title">Yeni Etiket</span>
    </a>
</li>
<li class="nav-item  @if (ViewContext.RouteData.GetRequiredString("action") == "ListTags")
                     {
                         @Html.Raw("active")
                     }">
    <a href="@Url.Action("ListTags", "Backoffice")" class="nav-link ">
        <i class="icon-list"></i>
        <span class="title">Etiket Listesi</span>
    </a>
</li>

<li class="heading">
    <h3 class="uppercase">Kullanıcı</h3>
</li>

<li class="nav-item  @if (ViewContext.RouteData.GetRequiredString("action") == "BackEndUser")
                     {
                         @Html.Raw("active")
                     }">
    <a href="@Url.Action("BackEndUser", "Backoffice")" class="nav-link ">
        <i class="icon-user"></i>
        <span class="title">Yeni Panel Kullanıcısı</span>
    </a>
</li>
<li class="nav-item  @if (ViewContext.RouteData.GetRequiredString("action") == "ListBackEndUsers")
                     {
                         @Html.Raw("active")
                     }">
    <a href="@Url.Action("ListBackEndUsers", "Backoffice")" class="nav-link ">
        <i class="icon-users"></i>
        <span class="title">Panel Kullanıcı Listesi</span>
    </a>
</li>

<li class="heading">
    <h3 class="uppercase">Site Ayarları</h3>
</li>

<li class="nav-item  @if (ViewContext.RouteData.GetRequiredString("action") == "TrackingCodes")
                     {
                         @Html.Raw("active")
                     }">
    <a href="@Url.Action("TrackingCodes", "Backoffice")" class="nav-link ">
        <i class="icon-eye"></i>
        <span class="title">Tracking Kodları</span>
    </a>
</li>

<li class="nav-item  @if (ViewContext.RouteData.GetRequiredString("action") == "MainMetaData")
                     {
                         @Html.Raw("active")
                     }">
    <a href="@Url.Action("MainMetaData", "Backoffice")" class="nav-link ">
        <i class="icon-anchor"></i>
        <span class="title">Anasayfa Meta Text</span>
    </a>
</li>

<li class="nav-item  @if (ViewContext.RouteData.GetRequiredString("action") == "ListRedirects")
                     {
                         @Html.Raw("active")
                     }">
    <a href="@Url.Action("ListRedirects", "Backoffice")" class="nav-link ">
        <i class="icon-arrow-right"></i>
        <span class="title">Redirect Listesi</span>
    </a>
</li>

<li class="heading">
    <h3 class="uppercase">Site Haritası</h3>
</li>

<li class="nav-item  @if (ViewContext.RouteData.GetRequiredString("action") == "BackEndUser")
                     {
                         @Html.Raw("active")
                     }">
    <a href="@Url.Action("Robots", "Backoffice")" class="nav-link ">
        <i class="icon-flag"></i>
        <span class="title">Robots.txt</span>
    </a>
</li>
<li class="nav-item  @if (ViewContext.RouteData.GetRequiredString("action") == "ListBackEndUsers")
                     {
                         @Html.Raw("active")
                     }">
    <a href="@Url.Action("SiteMapList", "Backoffice")" class="nav-link ">
        <i class="icon-compass"></i>
        <span class="title">Sayfalar</span>
    </a>
</li>


<li class="heading">
    <h3 class="uppercase">Çıkış</h3>
</li>
<li class="nav-item">
    <a href="@Url.Action("Logout", "Backoffice")" class="nav-link">
        <i class="icon-logout"></i>
        <span class="title">Çıkış</span>
    </a>
</li>


</ul>
<!-- END SIDEBAR MENU -->
</div>
<!-- END SIDEBAR -->
</div>
<!-- END SIDEBAR -->
<!-- BEGIN CONTENT -->
@RenderBody()
<!-- END CONTENT -->

</div>
<!-- END CONTAINER -->
<!--[if lt IE 9]>
    <script src="@bundle/Static/be/assets/global/plugins/respond.min.js"></script>
    <script src="@bundle/Static/be/assets/global/plugins/excanvas.min.js"></script>
    <script src="@bundle/Static/be/assets/global/plugins/ie8.fix.min.js"></script>
<![endif]-->
<!-- BEGIN CORE PLUGINS -->
<script src="@bundle/Static/be/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
<script src="@bundle/Static/be/assets/global/plugins/bootstrap/js/bootstrap.min.js"
        type="text/javascript"></script>
<script src="@bundle/Static/be/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js"
        type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<!-- BEGIN THEME GLOBAL SCRIPTS -->
<script src="@bundle/Static/be/assets/global/scripts/app.min.js" type="text/javascript"></script>
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="@bundle/Static/be/assets/global/plugins/select2/js/select2.full.min.js"
        type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- END THEME GLOBAL SCRIPTS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<!--<script src="@bundle/Static/be/assets/pages/scripts/dashboard.min.js" type="text/javascript"></script>-->
<script src="@bundle/Static/be/assets/global/plugins/jquery-validation/js/jquery.validate.min.js"></script>
<script src="@bundle/Static/be/assets/global/plugins/jquery-validation/js/localization/messages_tr.min.js"></script>
<script src="@bundle/Static/be/assets/global/plugins/bootstrap-summernote/summernote.min.js"
        type="text/javascript"></script>
<script src="@bundle/Static/be/assets/layouts/layout4/scripts/summernote-tr-TR.min.js"
        type="text/javascript"></script>
<script src="@bundle/Static/be/assets/global/plugins/bootbox/bootbox.min.js" type="text/javascript"></script>
<script src="@bundle/Static/be/assets/global/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->
<!-- BEGIN THEME LAYOUT SCRIPTS -->
<script src="@bundle/Static/be/assets/global/plugins/counterup/jquery.waypoints.min.js" type="text/javascript"></script>
<script src="@bundle/Static/be/assets/global/plugins/counterup/jquery.counterup.min.js" type="text/javascript"></script>
<script src="@bundle/Static/be/assets/layouts/layout4/scripts/layout.min.js" type="text/javascript"></script>
<script src="@bundle/Static/be/assets/layouts/layout4/scripts/demo.min.js" type="text/javascript"></script>
<script src="@bundle/Static/be/assets/layouts/global/scripts/quick-sidebar.min.js"
        type="text/javascript"></script>
<script src="@bundle/Static/be/assets/layouts/global/scripts/quick-nav.min.js" type="text/javascript"></script>
<script src="@bundle/Static/be/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
<script src="@bundle/Static/be/assets/global/plugins/bootstrap-datepicker/locales/bootstrap-datepicker.tr.min.js" type="text/javascript"></script>
<script src="@bundle/Static/be/assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
<script src="@bundle/Static/be/assets/global/plugins/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.tr.js" type="text/javascript"></script>
<script src="@bundle/Static/be/assets/tinymce/tinymce.min.js" type="text/javascript"></script>
<script src="@bundle/Static/be/assets/tinymce/langs/tr.js" type="text/javascript"></script>
<script src="@bundle/Static/be/assets/tokeninput/build/jquery.tokeninput.min.js" type="text/javascript"></script>
<script src="@bundle/Static/be/assets/alertifyjs/alertify.min.js"></script>
<script src="@bundle/Static/be/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
<script src="@bundle/Static/be/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js"
        type="text/javascript"></script>
<script src="@bundle/Static/be/assets/pages/scripts/components-bootstrap-switch.min.js"
        type="text/javascript"></script>
<script
    src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
    integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
    crossorigin="anonymous"></script>
<script src="@bundle/Static/be/assets/common.js" type="text/javascript"></script>
<script>
    $(function() {
        alertify.set('notifier', 'position', 'top-center');
        alertify.set('notifier', 'delay', 5);
        alertify.set('confirm', 'closable', false);
        alertify.set('confirm', 'labels', { ok: 'Evet', cancel: 'Vazgeç' });
        
        @if (TempData["Flash"] != null && Convert.ToBoolean(TempData["Flash"]))
        {
            @:alertify.message('İşleminiz gerçekleştirildi!');
        }
        else if (TempData["Flash"] != null && !Convert.ToBoolean(TempData["Flash"]))
        {
            @:alertify.error('Aynı veri sistemde bulunuyor!');
        }
    });
</script>
<!-- END THEME LAYOUT SCRIPTS -->
@RenderSection("Script", false)
</body>

</html>
