﻿@using System.Web.Optimization
@using HopiBlog.Controllers
@using HopiBlog.Helpers
@{
    var viewModel = (MainLayoutViewModel) ViewBag.MainLayoutViewModel;
    //var baseUrl = Utilities.AppSetting("SiteMainUrl") + "/" + Utilities.AppSetting("RoutePrefix") == "" ? "" : Utilities.AppSetting("RoutePrefix") + "/";
    var bundle = Utilities.AppSetting("RoutePrefix") == "" ? "~" : "/" + Utilities.AppSetting("RoutePrefix");
}
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <!--<base href=""/> -->
    @RenderSection("Meta",false)
    <title>@ViewBag.Title</title>
    <meta content="width=device-width,initial-scale=1" name="viewport">
    @*Styles.Render(bundle + "bundles/css")*@
    <link href="@bundle/Static/fe/assets/css/hb-main.css?v=2" rel="stylesheet"/>
    <link href="@bundle/Static/fe/assets/css/swiper.min.css?v=2" rel="stylesheet"/>
    <link href="@bundle/Static/fe/assets/css/animate.css" rel="stylesheet"/>
    <link rel="icon" type="image/png" href="~/favicon.ico">
    @RenderSection("Social",false)
    <script type="text/javascript">(function(e,a){if(!a.__SV){var b=window;try{var c,l,i,j=b.location,g=j.hash;c=function(a,b){return(l=a.match(RegExp(b+"=([^&]*)")))?l[1]:null};g&&c(g,"state")&&(i=JSON.parse(decodeURIComponent(c(g,"state"))),"mpeditor"===i.action&&(b.sessionStorage.setItem("_mpcehash",g),history.replaceState(i.desiredHash||"",e.title,j.pathname+j.search)))}catch(m){}var k,h;window.mixpanel=a;a._i=[];a.init=function(b,c,f){function e(b,a){var c=a.split(".");2==c.length&&(b=b[c[0]],a=c[1]);b[a]=function(){b.push([a].concat(Array.prototype.slice.call(arguments,
            0)))}}var d=a;"undefined"!==typeof f?d=a[f]=[]:f="mixpanel";d.people=d.people||[];d.toString=function(b){var a="mixpanel";"mixpanel"!==f&&(a+="."+f);b||(a+=" (stub)");return a};d.people.toString=function(){return d.toString(1)+".people (stub)"};k="disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config reset people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
        for(h=0;h<k.length;h++)e(d,k[h]);a._i.push([b,c,f])};a.__SV=1.2;b=e.createElement("script");b.type="text/javascript";b.async=!0;b.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"file:"===e.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";c=e.getElementsByTagName("script")[0];c.parentNode.insertBefore(b,c)}})(document,window.mixpanel||[]);
    mixpanel.init("81b83344bc6da7d44e9b284be6b872fc");</script>
</head>
<body class="overflow-hidden">
@Html.Raw(viewModel.Setting.GaCode)
@Html.Raw(viewModel.Setting.FpCode)
<!-- Header starts here-->
<header class="clearfix">
    <!-- Logo-->
    <div class="logo">
        <a href="@bundle"></a>
    </div>
    <!-- Top Search-->
    <a class="top-search__mobile-button visible-xs visible-sm" href="#">
        <span class="icon-search"></span>
    </a>
    <div class="top-search visible-md visible-lg">
        <a class="top-search__slide-button" href="#">
            <span class="icon-search"></span>
        </a>
        <form action="@Url.RouteUrl("Search")">
            <input class="top-search__input" type="text" name="kelime" placeholder="Hopi Blog’da ara">
            <input class="top-search__submit" type="submit" value="Ara">
        </form>
    </div>

    <!-- Top Menu-->
    <div class="top-menu visible-md visible-lg">
        <ul class="clearfix">
            <li class="top-menu__item @if (ViewData["MenuElement"].ToString() == "")
                                      {
                                          Html.Raw("active");
                                      }">
                <a href="@bundle">ANASAYFA</a>
            </li>
            @foreach (var topCategory in viewModel.TopCategories)
            {
                if (ViewData["MenuElement"].ToString() == topCategory.CatSlug)
                {
                    <li class="top-menu__item active">
                        <a href="@Url.RouteUrl("ShowCategoryContent", new {slug = topCategory.CatSlug})">@topCategory.CatName</a>
                    </li>
                }
                else
                {
                    <li class="top-menu__item">
                        <a href="@Url.RouteUrl("ShowCategoryContent", new {slug = topCategory.CatSlug})">@topCategory.CatName</a>
                    </li>
                }
            }
            @if (viewModel.SubCategories.Any())
            {
                <li class="top-menu__item has--dropdown">
                    <a href="#">DİĞER</a>
                    <div class="header-dropdown">
                        <div class="visible-xs visible-sm">
                            <a class="header-dropdown__logo" href="#"></a><a class="header-dropdown__mobile-button" href="#"></a>
                        </div>
                        <ul>
                            @foreach (var subCategory in viewModel.SubCategories)
                            {
                                <li class="dropdown__item">
                                    <a href="@Url.RouteUrl("ShowCategoryContent", new {slug = subCategory.CatSlug})">@subCategory.CatName</a>
                                </li>
                            }

                        </ul>
                    </div>
                </li>
            }
        </ul>
    </div>

    <!-- Top Menu Mobile-->
    <div class="top-menu-mobile visible-xs visible-sm">
        <div class="owl-carousel clearfix">
            @foreach (var topCategory in viewModel.TopCategories)
            {
                if (ViewData["MenuElement"].ToString() == topCategory.CatSlug)
                {
                    <div class="top-menu-mobile__item active">
                        <a href="@Url.RouteUrl("ShowCategoryContent", new {slug = topCategory.CatSlug})">@topCategory.CatName</a>
                    </div>
                }
                else
                {
                    <div class="top-menu-mobile__item">
                        <a href="@Url.RouteUrl("ShowCategoryContent", new {slug = topCategory.CatSlug})">@topCategory.CatName</a>
                    </div>
                }
            }

            @if (viewModel.SubCategories.Any())
            {
                <div class="top-menu-mobile__item has--dropdown">
                    <a href="#">DİĞER</a>
                </div>
            }
        </div>
    </div>
    @if (viewModel.SubCategories.Any())
    {
        <!-- Mobile Other Menu-->
        <div class="mobile-dropdown">
            <a class="header-dropdown__logo" href="#"></a><a class="header-dropdown__mobile-button" href="#"></a>
            <ul>
                @foreach (var subCategory in viewModel.SubCategories)
                {
                    <li class="dropdown__item">
                        <a href="@Url.RouteUrl("ShowCategoryContent", new {slug = subCategory.CatSlug})">@subCategory.CatName</a>
                    </li>
                }
            </ul>
        </div>
    }

</header>
@RenderBody()
<!-- Newsletter module starts here-->
<div class="newsletter-container newsletter-form">
    <div class="newsletter__title">Hopi Blog her hafta posta kutuna gelsin</div>
    <div class="newsletter__holder clearfix">
        <form>
            <input class="newsletter__button" type="submit" value="Abone Ol">
            <input class="newsletter__input" type="text" placeholder="örnek@gmail.com" value="">
        </form>
    </div><svg version="1.1" id="tick" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 37 37" style="enable-background: new 0 0 37 37;" xml:space="preserve"><polyline class="tick path" style="fill: none; stroke: #F99E26; stroke-width: 1; stroke-linejoin: round; stroke-miterlimit: 10;" points="11.6,20 15.9,24.2 26.4,13.8 "/></svg>
    <h2 id="newsletterMessage">Teşekkürler</h2>
</div>
<!-- Newsletter module ends here-->
<!-- Footer starts here-->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <!-- footer logo--><a class="fo-logo" href="http://www.hopi.com.tr"><img src="@bundle@Url.Content("Static/fe/assets/img/logo-hopi.png")" alt="Hopi">Hopi.com.tr’ye git</a>
            </div>
            <div class="col-sm-6">
                <!-- mobile app buttons-->
                <div class="fo-buttons">
                    <div class="fo-buttons_title">ÜCRETSİZ İNDİRMEK İÇİN</div><a class="fo-buttons__appstore" href="@Utilities.AppSetting("AppStoreLink")">
                        <img src="@bundle@Url.Content("Static/fe/assets/img/app-store.png")" alt="App Store">
                    </a><a class="fo-buttons__googleplay" href="@Utilities.AppSetting("PlayStoreLink")">
                        <img src="@bundle@Url.Content("Static/fe/assets/img/googleplay.png")" alt="Google Play">
                    </a>
                </div>
            </div>
            <div class="col-sm-3">
                <!-- social media buttons-->
                <ul class="social-media clearfix">
                    <li class="social-media__item">
                        <a href="#">
                            <span class="icon-facebook"></span>
                        </a>
                    </li>
                    <li class="social-media__item">
                        <a href="#">
                            <span class="icon-twitter"></span>
                        </a>
                    </li>
                    <li class="social-media__item">
                        <a href="#">
                            <span class="icon-instagram"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <!-- copyright-->
                <div class="copyright">
                    2017 Tüm hakları BNR Teknoloji A.Ş.’de saklıdır. Bilgi Toplumu Hizmetleri için <a href="#">tıklayın.</a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer ends here-->
<!-- Search Mobile Module starts here-->
<div class="search-fixed-module">
    <input class="search-fixed-module__input" type="text" placeholder="Aranacak bir kelime yazın"><a class="search-fixed-module__close" href="#"></a>
</div>
@*Scripts.Render(bundle + "bundles/libs")
@Scripts.Render(bundle + "bundles/site")*@
<script src="@bundle/Static/fe/assets/js/jquery.js"></script>
<script src="@bundle/Static/fe/assets/js/jquery.easing.min.js"></script>
<script src="@bundle/Static/fe/assets/js/jquery.maskedinput.min.js"></script>
<script src="@bundle/Static/fe/assets/js/owl.carousel.min.js"></script>
<script src="@bundle/Static/fe/assets/js/jquery.fancybox.pack.js"></script>
<script src="@bundle/Static/fe/assets/js/swiper.jquery.min.js?v=2"></script>
<script src="@bundle/Static/fe/assets/js/hb.js"></script>
<script src="@bundle/Static/fe/assets/js/hbs.js"></script>
@RenderSection("ExScripts",false)
@*Scripts.RenderFormat(@"<script src=""{0}"" defer></script>", "~/bundles/libs")
@Scripts.RenderFormat(@"<script src=""{0}"" defer></script>", "~/bundles/site")*@
</body>
</html>
