﻿@using System.Web.Optimization
@using HopiBlog.Controllers
@using HopiBlog.Helpers
@{
    var viewModel = (MainLayoutViewModel) ViewBag.MainLayoutViewModel;
    var mobile = Model.IsMobile ? "swiper-holder" : "";
    var bundle = Utilities.AppSetting("RoutePrefix") == "" ? "~" : "/" + Utilities.AppSetting("RoutePrefix");
}
<!DOCTYPE html>
<html class="swiper-holder" lang="tr">
  <head>
      <meta charset="utf-8">
      @RenderSection("Meta",false)
      <title>@ViewBag.Title</title>
    <meta content="width=device-width,initial-scale=1" name="viewport">
      @*Styles.Render("~/bundles/css")*@
      <link href="@bundle/Static/fe/assets/css/hb-main.css" rel="stylesheet"/>
      <link href="@bundle/Static/fe/assets/css/swiper.min.css" rel="stylesheet"/>
      <link href="@bundle/Static/fe/assets/css/animate.css" rel="stylesheet"/>
      <link rel="icon" type="image/png" href="@bundle/favicon.ico">
      @RenderSection("Social",false)
      <script type="text/javascript">(function(e,a){if(!a.__SV){var b=window;try{var c,l,i,j=b.location,g=j.hash;c=function(a,b){return(l=a.match(RegExp(b+"=([^&]*)")))?l[1]:null};g&&c(g,"state")&&(i=JSON.parse(decodeURIComponent(c(g,"state"))),"mpeditor"===i.action&&(b.sessionStorage.setItem("_mpcehash",g),history.replaceState(i.desiredHash||"",e.title,j.pathname+j.search)))}catch(m){}var k,h;window.mixpanel=a;a._i=[];a.init=function(b,c,f){function e(b,a){var c=a.split(".");2==c.length&&(b=b[c[0]],a=c[1]);b[a]=function(){b.push([a].concat(Array.prototype.slice.call(arguments,
            0)))}}var d=a;"undefined"!==typeof f?d=a[f]=[]:f="mixpanel";d.people=d.people||[];d.toString=function(b){var a="mixpanel";"mixpanel"!==f&&(a+="."+f);b||(a+=" (stub)");return a};d.people.toString=function(){return d.toString(1)+".people (stub)"};k="disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config reset people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
        for(h=0;h<k.length;h++)e(d,k[h]);a._i.push([b,c,f])};a.__SV=1.2;b=e.createElement("script");b.type="text/javascript";b.async=!0;b.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"file:"===e.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";c=e.getElementsByTagName("script")[0];c.parentNode.insertBefore(b,c)}})(document,window.mixpanel||[]);
    mixpanel.init("81b83344bc6da7d44e9b284be6b872fc");</script>
  </head>
<body class="@mobile overflow-hidden">
@Html.Raw(viewModel.Setting.GaCode)
@Html.Raw(viewModel.Setting.FpCode)
<!-- html and body requires .swiper-holder class!!!-->
<!-- Slider main container-->
@RenderBody()
@*Scripts.Render("~/bundles/libs")
@Scripts.Render("~/bundles/site")*@
<script src="@bundle/Static/fe/assets/js/jquery.js"></script>
<script src="@bundle/Static/fe/assets/js/jquery.easing.min.js"></script>
<script src="@bundle/Static/fe/assets/js/jquery.maskedinput.min.js"></script>
<script src="@bundle/Static/fe/assets/js/owl.carousel.min.js"></script>
<script src="@bundle/Static/fe/assets/js/jquery.fancybox.pack.js"></script>
<script src="@bundle/Static/fe/assets/js/swiper.jquery.min.js"></script>
<script src="@bundle/Static/fe/assets/js/hb.js"></script>
<script src="@bundle/Static/fe/assets/js/hbs.js"></script>
</body>
</html>