﻿@using HopiBlog.Helpers
@model HopiBlog.Models.Slider

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var url = Utilities.AppSetting("CDNPath");
}
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEAD-->
        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h1>Slider Bilgileri</h1>
            </div>
            <!-- END PAGE TITLE -->
        </div>
        <!-- END PAGE HEAD-->
        <!-- BEGIN PAGE BREADCRUMB -->
        <ul class="page-breadcrumb breadcrumb">

        </ul>
        <!-- END PAGE BREADCRUMB -->
        <!-- BEGIN PAGE BASE CONTENT -->
        <div class="portlet light bordered">
            <div class="portlet-body form">
                <!-- BEGIN FORM-->

                @if (Model != null)
                {
                    <form id="content-form" method="post" action="@Url.Action("UpdateSlider", "Backoffice")"
                          class="horizontal-form" enctype="multipart/form-data">

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">Görsel</label>

                                    <br/>
                                    <img style="float: left; width: 300px" src="@url@Model.Image"/>

                                    <div class="sec dt-button btn-circle buttons-html5 btn green-jungle"
                                         onclick="$('#image').trigger('click');">
                                        DOSYA SEÇ
                                    </div>
                                    <input type="file" style="display: none" id="image"
                                           onchange="getFilename(this)"
                                           accept="image/*" name="image"/>

                                    <input type="hidden" value="@Model.Image" name="ex_image">
                                    <input type="hidden" value="@Model.ImageMobile" name="ex_image_mobile">
                                </div>
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Görsel Adı</label>

                                    <input type="text" id="imageName" name="imageName" class="form-control"
                                           value="@Model.ImageName">
                                    
                                </div>
                            </div>
                            <!--/span-->

                        </div>
                        
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Hedef Link</label>

                                    <input type="text" id="link" name="link" class="form-control"
                                           value="@Model.Link">
                                    
                                </div>
                            </div>
                            <!--/span-->

                        </div>
                        <br/>
                        <div class="row">
                                <div class="col-md-4">
                                    <label class="control-label">Google'a Açık / Kapalı</label><br>
                                    <input type="checkbox" data-on-text="Açık"
                                           data-off-text="Kapalı" name="noflw" id="noflw"
                                           class="make-switch" @if(Model.NoFollow == 1){@Html.Raw("checked")}
                                           data-on-color="success" data-off-color="warning">
                                    
                                </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Görsel HTML Alt Text</label>

                                    <input type="text" id="imageAltText" name="imageAltText" class="form-control"
                                           value="@Model.ImageAltText">
                                    
                                </div>
                            </div>
                            <!--/span-->

                        </div>

                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group">
                                    <label class="control-label">Üst Yazı</label>
                                    <input type="text" id="toptext" name="toptext" class="form-control"
                                           value="@Model.TopText">
                                    
                                </div>
                            </div>
                            <!--/span-->

                        </div>
                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group">
                                    <label class="control-label">Alt Yazı</label>
                                    <input type="text" id="subtext" name="subtext" class="form-control"
                                           value="@Model.BottomText">
                                    
                                </div>
                            </div>
                            <!--/span-->
                        </div>


                        <div class="form-actions right">
                            <button type="submit" class="dt-button btn-circle buttons-html5 btn green-jungle">
                                <i class="fa fa-check"></i> Kaydet
                            </button>
                            <input type="hidden" value="@Model.Id" name="sid">

                        </div>
                    </form>
                }
                else
                {
                    <form id="content-form" method="post" action="@Url.Action("AddSlider", "Backoffice")"
                          class="horizontal-form" enctype="multipart/form-data">

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">Görsel</label>
                                    <br/>
                                    <div class="sec dt-button btn-circle buttons-html5 btn green-jungle"
                                         onclick="$('#image').trigger('click');">
                                        DOSYA SEÇ
                                    </div>
                                    <input type="file" style="display: none" id="image"
                                           onchange="getFilename(this)"
                                           accept="image/*" name="image"/>

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Görsel Adı</label>

                                    <input type="text" id="imageName" name="imageName" class="form-control"
                                           value="">
                                    
                                </div>
                            </div>
                            <!--/span-->

                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Hedef Link</label>

                                    <input type="text" id="link" name="link" class="form-control"
                                           value="">
                                    
                                </div>
                            </div>
                            <!--/span-->

                        </div>
                        
                        <div class="row">
                            <div class="col-md-4">
                                <label class="control-label">Google'a Açık / Kapalı</label><br>
                                <input type="checkbox" data-on-text="Açık"
                                       data-off-text="Kapalı" name="noflw" id="noflw"
                                       class="make-switch" data-on-color="success" data-off-color="warning">
                                       
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Görsel HTML Alt Text</label>

                                    <input type="text" id="imageAltText" name="imageAltText" class="form-control"
                                           value="">
                                    
                                </div>
                            </div>
                            <!--/span-->

                        </div>


                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group">
                                    <label class="control-label">Üst Başlık</label>
                                    <input type="text" id="toptext" name="toptext" class="form-control"
                                           value="">
                                    
                                </div>
                            </div>
                            <!--/span-->

                        </div>
                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group">
                                    <label class="control-label">Alt Başlık</label>
                                    <input type="text" id="subtext" name="subtext" class="form-control"
                                           value="">
                                    
                                </div>
                            </div>
                            <!--/span-->
                        </div>

                        <div class="form-actions right">
                            <button type="submit" class="dt-button btn-circle buttons-html5 btn green-jungle">
                                <i class="fa fa-check"></i> Kaydet
                            </button>

                        </div>
                    </form>
                }
                <!-- END FORM-->
            </div>
        </div>
        <!-- END PAGE BASE CONTENT -->
    </div>
    <!-- END CONTENT BODY -->
</div>
@section Script{
    <script>
        
        function getFilename(fn) {
            var filename = $(fn).val().replace(/.*(\/|\\)/, '');
            $('.sec').html('SEÇİLEN DOSYA ( ' + filename + ' )');
        }

        
        var Page = function() {

            var handlePage = function() {

                $('a.cim').on('click',
                    function(e) {
                        e.preventDefault();
                        $('#roxyCustomPanel').dialog({ modal: true, width: 875, height: 600 });
                    });

                function openCustomRoxy() {
                    $('#roxyCustomPanel').dialog({ modal: true, width: 875, height: 600 });
                }

                function closeCustomRoxy() {
                    $('#roxyCustomPanel').dialog('close');
                }

                $('#content-form').validate({
                    errorElement: 'span', //default input error message container
                    errorClass: 'help-block', // default input error message class
                    focusInvalid: true, // do not focus the last invalid input
                    rules: {
                        imageName: {
                            required: true
                        },
                        imageAltText: {
                            required: true
                        },
                        toptext: {
                            required: true
                        },
                        subtext: {
                            required: true
                        },
                        ord: {
                            required: true
                        }
                    },

                    invalidHandler: function(event, validator) { //display error alert on form submit
                        $('.alert-danger', $('#compliant-form')).show();
                    },

                    highlight: function(element) { // hightlight error inputs
                        $(element)
                            .closest('.form-group').addClass('has-error'); // set error class to the control group
                    },

                    success: function(label) {
                        label.closest('.form-group').removeClass('has-error');
                        label.remove();
                    },

                    errorPlacement: function(error, element) {
                        error.insertAfter(element.closest('.input-icon'));
                    },

                    submitHandler: function(form) {
                        App.blockUI({
                            boxed: true,
                            message: 'İşleminiz yapılırken lütfen bekleyiniz'
                        });
                        form.submit(); // form validation success, call ajax form submit
                    }
                });

                $('#content-form input').keypress(function(e) {
                    if (e.which == 13) {
                        if ($('#content-form').validate().form()) {
                            App.blockUI({
                                boxed: true,
                                message: 'İşleminiz yapılırken lütfen bekleyiniz'
                            });
                            $('#content-form').submit(); //form validation success, call ajax form submit
                        }
                        return false;
                    }
                });
            };


            function RoxyFileBrowser(field_name, url, type, win) {
                var roxyFileman = '/Content/admin/assets/fileman/index.html';
                if (roxyFileman.indexOf("?") < 0) {
                    roxyFileman += "?type=" + type;
                } else {
                    roxyFileman += "&type=" + type;
                }
                roxyFileman += '&input=' + field_name + '&value=' + document.getElementById(field_name).value;
                if (tinymce.activeEditor.settings.language) {
                    roxyFileman += '&langCode=' + tinymce.activeEditor.settings.language;
                }
                tinymce.activeEditor.windowManager.open({
                        file: roxyFileman,
                        title: 'Dosya Yönetimi',
                        width: 850,
                        height: 650,
                        resizable: "yes",
                        plugins: "media",
                        inline: "yes",
                        close_previous: "no"
                    },
                    { window: win, input: field_name });

                return false;
            }

            return {
                //main function to initiate the module
                init: function() {
                    handlePage();
                }
            };

        }();

        jQuery(document).ready(function() {
            Page.init();
        });
    </script>
}
