﻿@using HopiBlog.Helpers
@model IEnumerable<HopiBlog.Models.Slider>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var url = Utilities.AppSetting("CDNPath");
}
<style>
    .myDragClass {
        background-color: #E9ECF3;
        font-size: 16pt;
    }
</style>
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN BORDERED TABLE PORTLET-->
                <div class="portlet light portlet-fit bordered">
                    <div class="portlet-title">
                        <div class="caption">
                            <span class="caption-subject font-red sbold uppercase">Slider Listesi</span>
                        </div>
                        <div class="actions">
                            <a id="sel-all-btn" href="#" class="btn btn-circle red btn-sm hidden">
                                <i class="fa fa-trash"></i> Sil
                            </a>
                            <a href="@Url.Action("Slider", "Backoffice")" class="btn btn-circle green btn-sm">
                                <i class="fa fa-plus"></i> Yeni Slider Ekle
                            </a>
                        </div>
                    </div>
                    @if (Model.Any())
                    {
                        <div class="portlet-body">
                            <div class="note note-info">
                                <h4 class="block">Bilgi</h4>
                                <p> Sürükle bırak ile slider sıralamasını değiştirebilirsiniz </p>
                            </div>
                            <div class="table-scrollable table-scrollable-borderless">

                                <table id="slider-table" class="table table-light">
                                    <thead>
                                    <tr id="0" class="uppercase nodrop nodrag">
                                        <th style="width: 5%;">
                                            <label class="mt-checkbox mt-checkbox-outline" style="font-size: 10px; margin-bottom: 0; padding-left: 0">
                                                Tümünü Seç
                                                <input type="checkbox" value="" id="sel-all"/>
                                            </label>
                                        </th>
                                        <th>Görsel</th>
                                        <th>Üst Yazı</th>
                                        <th>İşlem</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    @foreach (var slider in Model)
                                    {
                                        <tr id="@slider.Id">
                                            <td>
                                                <label class="mt-checkbox mt-checkbox-outline">
                                                    <input type="checkbox" value="@slider.Id" name="ids[]" class="ids"/>
                                                    <span></span>
                                                </label>
                                            </td>
                                            <td>
                                                <img style="width: 300px" src="@url@slider.ImageMobile"/>
                                            </td>
                                            <td>@slider.TopText</td>
                                            <td>
                                                <a href="@Url.Action("Slider", "Backoffice", new {id = slider.Id})" style="text-decoration: none">
                                                    <span class="btn btn-outline btn-circle btn-sm green-jungle">
                                                        <i class="fa fa-edit">
                                                        </i> Düzenle
                                                    </span>
                                                </a>
                                                <a href="#" class="del" data-id="@slider.Id">
                                                    <span class="btn btn-outline btn-circle btn-sm red">
                                                        <i class="fa fa-trash-o">
                                                        </i> Sil
                                                    </span>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    }
                </div>
                <!-- END BORDERED TABLE PORTLET-->
            </div>
        </div>
    </div>
    <!-- END PAGE BASE CONTENT -->
</div>
@section Script {
    <script src="https://cdn.jsdelivr.net/jquery.tablednd/0.8/jquery.tablednd.0.8.min.js"></script>
    <script>
        $(function() {
            $("#slider-table").tableDnD({
                onDragClass: "myDragClass",
                onDrop: function(table, row) {
                    App.blockUI({
                        boxed: true,
                        message: 'İşleminiz yapılırken lütfen bekleyiniz'
                    });
                    $.post('@Url.Action("OrderSlider", "Backoffice")',
                        $.tableDnD.serialize(),
                        function(ret) {
                            App.unblockUI();
                            alertify.message('İşleminiz gerçekleştirildi!');
                        },
                        "json");
                }
            });

           
            
            $("#sel-all").on('click',
                function() {
                    var self = $(this);
                    self.prop("checked", !self.prop("checked"));
                   
                    $("#sel-all-btn").toggleClass('hidden');

                    var checkBoxes = $("input[name=ids\\[\\]]");
                    checkBoxes.prop("checked", !checkBoxes.prop("checked"));
                });

            
            $(".ids").on('click',
                function() {
                    var self = $(this);
                    self.prop("checked");
                    
                    var ids = [];
                    $('.ids:checked').each(function(i, e) {
                        ids.push($(this).val());
                    });

                    switch (ids.length) {
                    case 0 :
                        $("#sel-all-btn").addClass('hidden');
                        break;
                    default:
                        $("#sel-all-btn").removeClass('hidden');
                    }
                    
                });

            $("a#sel-all-btn").on('click',
                function(e) {
                   
                    e.preventDefault();
                    alertify.confirm('Uyarı',
                        'Silmek istediğinizden emin misiniz?',
                        function() {
                            App.blockUI({
                                boxed: true,
                                message: 'İşleminiz yapılırken lütfen bekleyiniz'
                            });
                            var ids = [];
                            $.each($('.ids:checked'), function () {
                                ids.push($(this).val());
                            });
                            $.ajax({
                                type: "POST",
                                dataType: "json",
                                contentType: "application/json",
                                url: '@Url.Action("DeleteSliders", "Backoffice")',
                                data: JSON.stringify({ values: ids }),
                                success:function(ret) {
                                    if (ret.status) {
                                        location.reload();
                                    }
                                }
                                
                            });
                        },
                        null);
                });

            $("a.del").on('click',
                function(e) {
                    var i = $(this).data('id');
                    e.preventDefault();
                    alertify.confirm('Uyarı',
                        'Silmek istediğinizden emin misiniz?',
                        function() {
                            App.blockUI({
                                boxed: true,
                                message: 'İşleminiz yapılırken lütfen bekleyiniz'
                            });
                            $.post('@Url.Action("DeleteSlider", "Backoffice")',
                                { id: i },
                                function(ret) {
                                    if (ret.status) {
                                        location.reload();
                                    }
                                },
                                "json");
                        },
                        null);
                });
        });
    </script>
}
