﻿@model HopiBlog.Models.SiteSetting

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEAD-->
        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h1>Ana Sayfa Meta Tags</h1>
            </div>
            <!-- END PAGE TITLE -->
        </div>
        <!-- END PAGE HEAD-->
        <!-- BEGIN PAGE BREADCRUMB -->
        <ul class="page-breadcrumb breadcrumb">

        </ul>
        <!-- END PAGE BREADCRUMB -->
        <!-- BEGIN PAGE BASE CONTENT -->
        <div class="portlet light bordered">
            <div class="portlet-body form">
                <!-- BEGIN FORM-->

               
                <form id="content-form" method="post" action="@Url.Action("UpdateMainMetaData", "Backoffice")" class="horizontal-form" onsubmit="return block()">


                    <div class="row">
                        <div class="col-md-10">
                            <div class="form-group">
                                <label class="control-label">Meta Title</label>

                                <input type="text" id="metatitle" name="metatitle" class="form-control"
                                       value="@Model.MetaTitle">
                                
                            </div>
                        </div>
                        <!--/span-->

                    </div>

                    <div class="row">
                        <div class="col-md-10">
                            <div class="form-group">
                                <label class="control-label">Meta Description</label>

                                <input type="text" id="metadesc" name="metadesc" class="form-control"
                                       value="@Model.MetaDescription">
                                
                            </div>
                        </div>
                        <!--/span-->

                    </div>

                    <div class="form-actions right">
                        <button type="submit" class="dt-button btn-circle buttons-html5 btn green-jungle">
                            <i class="fa fa-check"></i> Kaydet
                        </button>
                        <input type="hidden" value="@Model.Id" name="sid">

                    </div>
                </form>
              
                <!-- END FORM-->
            </div>
        </div>
        <!-- END PAGE BASE CONTENT -->
    </div>
    <!-- END CONTENT BODY -->
</div>
@section Script
{
    <script>
        function block(){
            App.blockUI({
                boxed: true,
                message: 'İşleminiz yapılırken lütfen bekleyiniz'
            });
        }
    </script>
}