﻿@model HopiBlog.Models.Redirection

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEAD-->
        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h1>Yönlendirme Bilgileri</h1>
            </div>
            <!-- END PAGE TITLE -->
        </div>
        <!-- END PAGE HEAD-->
        <!-- BEGIN PAGE BREADCRUMB -->
        <ul class="page-breadcrumb breadcrumb">

        </ul>
        <!-- END PAGE BREADCRUMB -->
        <!-- BEGIN PAGE BASE CONTENT -->
        <div class="portlet light bordered">
            <div class="portlet-body form">
                <!-- BEGIN FORM-->

               
                <form id="content-form" method="post" action="@Url.Action("AddRedirection", "Backoffice")" class="horizontal-form">

                    <div class="row">
                        <div class="col-md-10">
                            <div class="form-group">
                                <label class="control-label">Eski URL (Başında slash (/) olmalıdır)</label>

                                <input type="text" id="oldurl" name="oldurl" class="form-control"
                                       value="">
                                
                            </div>
                        </div>
                        <!--/span-->

                    </div>
                    
                    <div class="row">
                        <div class="col-md-10">
                            <div class="form-group">
                                <label class="control-label">Yeni URL (Başında slash (/) olmalıdır)</label>

                                <input type="text" id="newurl" name="newurl" class="form-control"
                                       value="">
                                
                            </div>
                        </div>
                        <!--/span-->

                    </div>
                    
                    <div class="row">
                        <div class="col-md-10">
                            <div class="form-group">
                                <label class="control-label">Yönlendirme Tipi (301, 302 vb)</label>

                                <input type="text" id="type" name="type" class="form-control"
                                       value="">
                                
                            </div>
                        </div>
                        <!--/span-->

                    </div>
                    
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="control-label">Durum</label>
                                <select id="status" name="status" class="form-control select2">
                                    <option value="True">Aktif</option>
                                    <option value="False">Pasif</option>
                                </select>
                            </div>
                        </div>
                        <!--/span-->
                    </div>

                   

                    <div class="form-actions right">
                        <button type="submit" class="dt-button btn-circle buttons-html5 btn green-jungle">
                            <i class="fa fa-check"></i> Kaydet
                        </button>
                        <input type="hidden" value="" name="sid">

                    </div>
                </form>
              
                <!-- END FORM-->
            </div>
        </div>
        <!-- END PAGE BASE CONTENT -->
    </div>
    <!-- END CONTENT BODY -->
</div>

@section Script{
    <script>
        
        var Page = function() {

            var handlePage = function() {

                $.fn.select2.defaults.set("theme", "bootstrap");

                $(".select2, .select2-multiple").select2({
                    placeholder: "Şeçiniz",
                    width: null
                });
                
                $('#content-form').validate({
                    errorElement: 'span', //default input error message container
                    errorClass: 'help-block', // default input error message class
                    focusInvalid: true, // do not focus the last invalid input
                    rules: {
                        oldurl: {
                            required: true
                        },
                        newurl: {
                            required: true
                        },
                        type: {
                            required: true
                        },
                        status: {
                            required: true
                        }
                    },

                    invalidHandler: function(event, validator) { //display error alert on form submit
                        $('.alert-danger', $('#compliant-form')).show();
                    },

                    highlight: function(element) { // hightlight error inputs
                        $(element)
                            .closest('.form-group').addClass('has-error'); // set error class to the control group
                    },

                    success: function(label) {
                        label.closest('.form-group').removeClass('has-error');
                        label.remove();
                    },

                    errorPlacement: function(error, element) {
                        error.insertAfter(element.closest('.input-icon'));
                    },

                    submitHandler: function(form) {
                        App.blockUI({
                            boxed: true,
                            message: 'İşleminiz yapılırken lütfen bekleyiniz'
                        });
                        form.submit(); // form validation success, call ajax form submit
                    }
                });

                $('#content-form input').keypress(function(e) {
                    if (e.which == 13) {
                        if ($('#content-form').validate().form()) {
                            App.blockUI({
                                boxed: true,
                                message: 'İşleminiz yapılırken lütfen bekleyiniz'
                            });
                            $('#content-form').submit(); //form validation success, call ajax form submit
                        }
                        return false;
                    }
                });
                
            };

            return {
                //main function to initiate the module
                init: function() {
                    handlePage();
                }
            };

        }();

        jQuery(document).ready(function() {
            Page.init();
        });
    </script>
}
