﻿@using HopiBlog.Helpers
@model IEnumerable<HopiBlog.Models.Redirection>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN BORDERED TABLE PORTLET-->
                <div class="portlet light portlet-fit bordered">
                    <div class="portlet-title">
                        <div class="caption">
                            <span class="caption-subject font-red sbold uppercase">Yönlendirme Listesi</span>
                        </div>
                        <div class="actions">
                            <a href="@Url.Action("Redirection", "Backoffice")" class="btn btn-circle green btn-sm">
                                <i class="fa fa-plus"></i> Yeni Yönlendirme Ekle
                            </a>
                        </div>
                    </div>
                    @if (Model.Any())
                    {
                        <div class="portlet-body">
                           
                            <div class="table-scrollable table-scrollable-borderless">

                                <table id="slider-table" class="table table-light">
                                    <thead>
                                    <tr id="0" class="uppercase nodrop nodrag">
                                        <th>Eki URL</th>
                                        <th>Yeni URL</th>
                                        <th>Yönlendirme Tipi</th>
                                        <th>Durum</th>
                                        <th>İşlem</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    @foreach (var redirection in Model.OrderByDescending(r=>r.Id))
                                    {
                                        var status = "<span class='badge badge-danger badge-roundless'> Pasif </span>";
                                        
                                        if (Convert.ToBoolean(redirection.Active))
                                        {
                                            status = "<span class='badge badge-primary badge-roundless'> Aktif </span>";
                                        }
                                        
                                        <tr id="@redirection.Id">
                                           
                                            <td>@redirection.OldUrl</td>
                                            <td>@redirection.NewUrl</td>
                                            <td>@redirection.RedirectType</td>
                                            <td>@Html.Raw(status)</td>
                                            <td>
                                                <a href="#" class="del" data-id="@redirection.Id">
                                                    <span class="btn btn-outline btn-circle btn-sm red">
                                                        <i class="fa fa-trash-o">
                                                        </i> Sil
                                                    </span>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    }
                </div>
                <!-- END BORDERED TABLE PORTLET-->
            </div>
        </div>
    </div>
    <!-- END PAGE BASE CONTENT -->
</div>
@section Script {
    <script src="https://cdn.jsdelivr.net/jquery.tablednd/0.8/jquery.tablednd.0.8.min.js"></script>
    <script>
        $(function() {
          
            $("a.del").on('click',
                function(e) {
                    var i = $(this).data('id');
                    e.preventDefault();
                    alertify.confirm('Uyarı', 'Silmek istediğinizden emin misiniz?', function () {
                        App.blockUI({
                            boxed: true,
                            message: 'İşleminiz yapılırken lütfen bekleyiniz'
                        });
                    $.post('@Url.Action("DeleteRedirection","Backoffice")',
                        { id : i },
                        function(ret) {
                            if (ret) {
                                location.reload();
                            }
                        },"json");
                    }, null);
                });
        });
    </script>
}
