﻿@model HopiBlog.Models.SiteSetting

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    div.editable {
        width: 600px;
        height: 400px;
        border: 1px solid #ccc;
        padding: 5px;
        text-decoration:none;
    }
</style>
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEAD-->
        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h1>Tracking Kodları</h1>
            </div>
            <!-- END PAGE TITLE -->
        </div>
        <!-- END PAGE HEAD-->
        <!-- BEGIN PAGE BREADCRUMB -->
        <ul class="page-breadcrumb breadcrumb">

        </ul>
        <!-- END PAGE BREADCRUMB -->
        <!-- BEGIN PAGE BASE CONTENT -->
        <div class="portlet light bordered">
            <div class="portlet-body form">
                <!-- BEGIN FORM-->

               
                <form id="content-form" method="post" action="@Url.Action("UpdateTrackingCodes", "Backoffice")" class="horizontal-form" onsubmit="return getContent()">


                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Google Analytics Kodu</label>
                                <div id="gc" class="editable" contenteditable="">@Html.Raw(Model.GaCode)</div>
                                <textarea id="gacode" name="gacode" class="form-control hidden" rows="10" value=""></textarea>
                                   
                            </div>
                        </div>
                        <!--/span-->

                    </div>
                        
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Facebook Tracking Kodu</label>
                                <div id="fc" class="editable" contenteditable="">@Html.Raw(Model.FpCode)</div>
                                <textarea id="fbcode" name="fbcode" class="form-control hidden" value=""></textarea>
                                    
                            </div>
                        </div>
                        <!--/span-->

                    </div>

                       

                    <div class="form-actions right">
                        <button type="submit" class="dt-button btn-circle buttons-html5 btn green-jungle">
                            <i class="fa fa-check"></i> Kaydet
                        </button>
                        <input type="hidden" value="@Model.Id" name="sid">

                    </div>
                </form>
             
                <!-- END FORM-->
            </div>
        </div>
        <!-- END PAGE BASE CONTENT -->
    </div>
    <!-- END CONTENT BODY -->
</div>
@section Script
{
    <script>
        function getContent(){
            App.blockUI({
                boxed: true,
                message: 'İşleminiz yapılırken lütfen bekleyiniz'
            });
            document.getElementById("gacode").value = document.getElementById("gc").innerHTML;
            document.getElementById("fbcode").value = document.getElementById("fc").innerHTML;
        }
    </script>
}
