﻿@using System.Collections
@using HopiBlog.Helpers
@model HopiBlog.ViewModels.Admin.PostDetailViewModel

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var url = Utilities.AppSetting("CDNPath");
}
<div class="page-content-wrapper">
<!-- BEGIN CONTENT BODY -->
<div class="page-content">
<!-- BEGIN PAGE HEAD-->
<div class="page-head">
    <!-- BEGIN PAGE TITLE -->
    <div class="page-title">
        <h1>İçerik Bilgileri</h1>
    </div>
    <!-- END PAGE TITLE -->
</div>
<!-- END PAGE HEAD-->
<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">

</ul>
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN PAGE BASE CONTENT -->
<div class="portlet light bordered">
<div class="portlet-body form">
<!-- BEGIN FORM-->

@if (Model != null)
{
    <form id="plain-text-form" method="post" action="@Url.Action("UpdatePlainPost", "Backoffice")"
          class="horizontal-form" enctype="multipart/form-data">

    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <label class="control-label">Durum</label>
                <select id="status" name="status" class="form-control">
                    <option value="1" @if (Model.Post.PostStatus == 1)
                                      {
                                          @Html.Raw("selected");
                                      }>
                        Yayında
                    </option>
                    <option value="2" @if (Model.Post.PostStatus == 2)
                                      {
                                          @Html.Raw("selected");
                                      }>
                        Taslak
                    </option>
                </select>
            </div>
        </div>
        <!--/span-->
    </div>

    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <label class="control-label">Kategori</label>
                <select id="category" name="category" class="form-control">
                    @foreach (var cat in Model.Categories)
                    {
                        <option value="@cat.CatSlug" @if (Model.Post.CatSlug == cat.CatSlug)
                                                     {
                                                         @Html.Raw("selected");
                                                     }>
                            @cat.CatName</option>
                    }
                </select>
            </div>
        </div>
        <!--/span-->
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">Yayın Tarihi</label>
                <input type="text" id="publishDate" name="publishDate" class="form-control form_datetime"
                       value="@Model.Post.PublishDate.ToString("dd-MM-yyyy HH:mm")" placeholder="Eğer boş bırakırsanız kayıt tarihi baz alınacaktır">
               
            </div>
        </div>
        <!--/span-->

    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="control-label">Görsel</label>

                <br/>
                <img style="float: left; width: 300px" src="@url@Model.Post.MainImage"/>

                <div class="sec dt-button btn-circle buttons-html5 btn green-jungle">
                    DOSYA SEÇ
                </div>
                <input type="file" style="display: none" id="image"
                       onchange="getFilename(this)"
                       accept="image/*" name="image"/>

                <input type="hidden" value="@Model.Post.MainImage" name="ex_image">
                <input type="hidden" value="@Model.Post.MobileImage" name="ex_image_mobile">
                <input type="hidden" value="@Model.Post.ThumbImage" name="ex_image_thumb">
            </div>
        </div>
    </div>
    <br/>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">Görsel Adı</label>

                <input type="text" id="imageName" name="imageName" class="form-control"
                       value="@Model.Post.ImageAltText">
               
            </div>
        </div>
        <!--/span-->

    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">Görsel HTML Alt Text</label>

                <input type="text" id="imageAltText" name="imageAltText" class="form-control"
                       value="@Model.Post.ImageAltText">
                
            </div>
        </div>
        <!--/span-->

    </div>
    
    <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label">Facebook og:title</label>
                        <input type="text" id="OgTitle" name="OgTitle" class="form-control"
                               value="@Model.Post.OgTitle">
                        
                    </div>
                </div>
                <!--/span-->

            </div>   
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label">Facebook og:description</label>
                        <input type="text" id="OgTitle" name="OgTitle" class="form-control"
                               value="@Model.Post.OgDescription">
                        
                    </div>
                </div>
                <!--/span-->

            </div>   

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="control-label">HTML Title</label>
                <input type="text" id="htmlTitle" name="htmlTitle" class="form-control"
                       value="@Model.Post.HtmlTitle">
                
            </div>
        </div>
        <!--/span-->

    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="control-label">HTML Meta Description</label>
                <input type="text" id="htmlMetaDesc" name="htmlMetaDesc" class="form-control"
                       value="@Model.Post.HtmlMetaDesc">
                
            </div>
        </div>
        <!--/span-->

    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="control-label">Canonical Link</label>
                <input type="text" id="canonical" name="canonical" class="form-control"
                       value="@Model.Post.Canonical">
                
            </div>
        </div>
        <!--/span-->

    </div>

    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <label class="control-label">Google'a Açık / Kapalı</label>
                <select id="noflw" name="noflw" class="form-control">
                    <option value="1" @if (Model.Post.NoFollow == 1)
                                      {
                                          @Html.Raw("selected");
                                      }>
                        Açık
                    </option>
                    <option value="0" @if (Model.Post.NoFollow == 0)
                                      {
                                          @Html.Raw("selected");
                                      }>
                        Kapalı
                    </option>
                </select>
            </div>
        </div>
        <!--/span-->
    </div>

    <div class="row">
        <div class="col-md-10">
            <div class="form-group">
                <label class="control-label">Başlık</label>
                <input type="text" id="title" name="title" class="form-control"
                       value="@Model.Post.PostTitle">
                
            </div>
        </div>
        <!--/span-->

    </div>
    <div class="row">
        <div class="col-md-10">
            <div class="form-group">
                <label class="control-label">Kısa Açıklama</label>
                <input type="text" id="shortdesc" name="shortdesc" class="form-control"
                       value="@Model.Post.PostShortDescription">
                
            </div>
        </div>
        <!--/span-->

    </div>
    <div class="row">
        <div class="col-md-10">
            <div class="form-group">
                <label class="control-label">URL</label>
                <input type="text" id="slug" name="slug" class="form-control"
                       value="@Model.Post.PostSlug">
                
            </div>
        </div>
        <!--/span-->
    </div>

    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <label class="control-label">Etiketler (Tags)</label>
                <input type="text" id="tags" name="tags" class="form-control" style="width: 100%"
                       value="">

                
            </div>
        </div>
        <!--/span-->
    </div>
    <div class="row">
        <div class="col-md-10">
            <div class="form-group">
                <label class="control-label">Referans Site Bilgisi</label>
                <input type="text" id="credit" name="credit" class="form-control" style="width: 100%"
                       value="@Model.Post.Credit">

                
            </div>
        </div>

    </div>

    <div class="note note-info">
        <h4 class="block">Bilgi</h4>
        <p> Editörde girdiğiniz linki anlık kontrol etmek için cmd / ctrl ve mouse click ile tıklayınız </p>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="control-label">İçerik</label>
                <textarea class="input-block-level mce" id="content"
                                                      name="content"
                                                      rows="18">@Model.Post.PostContent</textarea>
            </div>
        </div>
    </div>

    <div class="form-actions right">
        <button type="submit" class="dt-button btn-circle buttons-html5 btn green-jungle">
            <i class="fa fa-check"></i> Kaydet
        </button>
        <input type="hidden" value="@Model.Post.Id" name="pid">

    </div>
    </form>
}
else
{
    <form id="plain-text-form" method="post" action="@Url.Action("AddPlainPost", "Backoffice")"
          class="horizontal-form" enctype="multipart/form-data">

    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <label class="control-label">Durum</label>
                <select id="status" name="status" class="form-control">
                    <option value="1">Yayında</option>
                    <option value="2">Taslak</option>
                </select>
            </div>
        </div>
        <!--/span-->
    </div>

    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <label class="control-label">Kategori</label>
                <select id="category" name="category" class="form-control">
                    @foreach (dynamic cat in (IEnumerable) ViewData["categories"])
                    {
                        <option value="@cat.CatSlug">@cat.CatName</option>
                    }
                </select>
            </div>
        </div>
        <!--/span-->
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">Yayın Tarihi</label>
                <input type="text" id="publishDate" name="publishDate" class="form-control form_datetime"
                       value="" placeholder="Eğer boş bırakırsanız kayıt tarihi baz alınacaktır">
                
            </div>
        </div>
        <!--/span-->

    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="control-label">Görsel</label>


                <div class="sec dt-button btn-circle buttons-html5 btn green-jungle">
                    DOSYA SEÇ
                </div>
                <input type="file" style="display: none" id="image"
                       onchange="getFilename(this)"
                       accept="image/*" name="image"/>


            </div>
        </div>
    </div>
    <br/>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">Görsel Adı</label>

                <input type="text" id="imageName" name="imageName" class="form-control"
                       value="">
                
            </div>
        </div>
        <!--/span-->

    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">Görsel HTML Alt Text</label>

                <input type="text" id="imageAltText" name="imageAltText" class="form-control"
                       value="">
                
            </div>
        </div>
        <!--/span-->

    </div>

    <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label">Facebook og:title</label>
                        <input type="text" id="OgTitle" name="OgTitle" class="form-control"
                               value="">
                        
                    </div>
                </div>
                <!--/span-->

            </div>   
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label">Facebook og:description</label>
                        <input type="text" id="OgTitle" name="OgTitle" class="form-control"
                               value="">
                        
                    </div>
                </div>
                <!--/span-->

            </div>   

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="control-label">HTML Title</label>
                <input type="text" id="htmlTitle" name="htmlTitle" class="form-control"
                       value="">
                
            </div>
        </div>
        <!--/span-->

    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="control-label">HTML Meta Description</label>
                <input type="text" id="htmlMetaDesc" name="htmlMetaDesc" class="form-control"
                       value="">
                
            </div>
        </div>
        <!--/span-->

    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="control-label">Canonical Link</label>
                <input type="text" id="canonical" name="canonical" class="form-control"
                       value="">
                
            </div>
        </div>
        <!--/span-->

    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <label class="control-label">Google'a Açık / Kapalı</label>
                <select id="noflw" name="noflw" class="form-control">
                    <option value="1">Açık </option>
                    <option value="0">Kapalı</option>
                </select>
            </div>
        </div>
        <!--/span-->
    </div>

    <div class="row">
        <div class="col-md-10">
            <div class="form-group">
                <label class="control-label">Başlık</label>
                <input type="text" id="title" name="title" class="form-control"
                       value="">
                
            </div>
        </div>
        <!--/span-->

    </div>
    <div class="row">
        <div class="col-md-10">
            <div class="form-group">
                <label class="control-label">Kısa Açıklama</label>
                <input type="text" id="shortdesc" name="shortdesc" class="form-control"
                       value="">
                
            </div>
        </div>
        <!--/span-->

    </div>
    <div class="row">
        <div class="col-md-10">
            <div class="form-group">
                <label class="control-label">URL</label>
                <input type="text" id="slug" name="slug" class="form-control"
                       value="">
                
            </div>
        </div>
        <!--/span-->
    </div>

    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <label class="control-label">Etiketler (Tags)</label>
                <input type="text" id="tags" name="tags" class="form-control" style="width: 100%"
                       value="">

                
            </div>
        </div>
        <!--/span-->
    </div>
    <div class="row">
        <div class="col-md-10">
            <div class="form-group">
                <label class="control-label">Referans Site Bilgisi</label>
                <input type="text" id="credit" name="credit" class="form-control" style="width: 100%"
                       value="">

                
            </div>
        </div>
        <!--/span-->
    </div>

    <div class="note note-info">
        <h4 class="block">Bilgi</h4>
        <p> Editörde girdiğiniz linki anlık kontrol etmek için cmd / ctrl ve mouse click ile tıklayınız </p>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="control-label">İçerik</label>
                <textarea class="input-block-level mce" id="content"
                                                      name="content"
                                                      rows="18"></textarea>
            </div>
        </div>
    </div>

    <div class="form-actions right">
        <button type="submit" class="dt-button btn-circle buttons-html5 btn green-jungle">
            <i class="fa fa-check"></i> Kaydet
        </button>

    </div>
    </form>
}
<!-- END FORM-->
</div>
</div>
<!-- END PAGE BASE CONTENT -->
</div>
<!-- END CONTENT BODY -->
</div>
@section Script{
    <script>

        function getFilename(fn) {
            var filename = $(fn).val().replace(/.*(\/|\\)/, '');
            $('.sec').html('SEÇİLEN DOSYA ( ' + filename + ' )');
        }

        var Page = function() {

            var handlePage = function() {

                $('body').on('click',
                    'div.sec',
                    function(e) {
                        $(this).next("input:file").trigger('click');
                    });

                $('.form_datetime').datetimepicker({
                    format: "dd-mm-yyyy hh:ii",
                    language: 'tr',
                    todayBtn: true
                });

                $('#title').on('keyup',
                    function() {
                        var v = $(this).val();
                        $('#slug').val(slugify(v));
                    });

                $('#slug').on('keyup',
                    function() {
                        var v = $(this).val();
                        $('#slug').val(slugify(v));
                    });

                $("#tags").tokenInput("@Url.Action("GetTags", "Backoffice")",
                    {
                        minChars: 3,
                        hintText: "Bir etiket adı giriniz!",
                        noResultsText: "Sonuç bulunamadı!",
                        searchingText: "Aranıyor...",
                        theme: "facebook",
                        preventDuplicates: true,
                        tokenValue: "TagName",
                        propertyToSearch: "TagName",
                        queryParam: "key",
                        @if (Model != null && Model.Tags.Any())
                        {
                            @:prePopulate: [
                            foreach (var tag in Model.Tags)
                            {
                                @Html.Raw("{'TagName':'" + tag.TagName + "','TagName':'" + tag.TagName + "'},")
                            }
                            @:]
                        }
                    });

                $('#plain-text-form').validate({
                    ignore: "",
                    errorElement: 'span', //default input error message container
                    errorClass: 'help-block', // default input error message class
                    focusInvalid: true, // do not focus the last invalid input
                    rules: {
                        title: {
                            required: true
                        },
                        @if (Model == null)
                        {
                            @Html.Raw("image:{ required:true},")
                        }
                        imageName: {
                            required: true
                        },
                        htmlTitle: {
                            required: true,
                            rangelength: [30, 70]
                        },
                        htmlMetaDesc: {
                            required: true,
                            rangelength: [50, 155]
                        },
                        OgTitle: {
                            required: true
                        },
                        OgMetaDesc: {
                            required: true
                        },
                        slug: {
                            required: true
                        },
                        shortdesc: {
                            required: true
                        },
                        tags: {
                            required: true
                        },
                        canonical: {
                            required: true
                        },
                        content: {
                            required: true
                        }
                    },

                    highlight: function(element) { // hightlight error inputs
                        $(element)
                            .closest('.form-group').addClass('has-error'); // set error class to the control group
                    },

                    success: function(label) {
                        label.closest('.form-group').removeClass('has-error');
                        label.remove();
                    },

                    submitHandler: function(form) {
                        App.blockUI({
                            boxed: true,
                            message: 'İşleminiz yapılırken lütfen bekleyiniz'
                        });
                        tinyMCE.triggerSave();
                        form.submit(); // form validation success, call ajax form submit
                    }
                });

                $('#plain-text-form input').keypress(function(e) {
                    if (e.which == 13) {
                        if ($('#plain-text-form').validate().form()) {
                            App.blockUI({
                                boxed: true,
                                message: 'İşleminiz yapılırken lütfen bekleyiniz'
                            });
                            $('#plain-text-form').submit(); //form validation success, call ajax form submit
                        }
                        return false;
                    }
                });

                tinymce.init({
                    forced_root_block: "",
                    force_br_newlines: true,
                    force_p_newlines: false,
                    relative_urls: false,
                    remove_script_host: true,
                    document_base_url: "",
                    selector: ".mce",
                    language: "tr",
                    theme: "modern",
                    height: 500,
                    verify_html: false,
                    plugins: [
                        "advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker",
                        "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
                        "save table contextmenu directionality emoticons template paste textcolor"
                    ],
                    setup: function(editor) {
                        editor.on('change',
                            function() {
                                tinymce.triggerSave();
                                $("#" + editor.id).valid();
                            });
                    },
                    //content_css: "css/content.css",
                    toolbar:
                        "insertfile undo redo |  bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | forecolor backcolor emoticons",
                    file_browser_callback: RoxyFileBrowser
                });


            };

            return {
                //main function to initiate the module
                init: function() {
                    handlePage();
                }
            };

        }();

        jQuery(document).ready(function() {
            Page.init();
        });
    </script>
}
