﻿@using HopiBlog.Helpers
@model HopiBlog.ViewModels.Admin.ListViewModel

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var url = Utilities.AppSetting("CDNPath");
}

<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN BORDERED TABLE PORTLET-->
                <div class="portlet light portlet-fit bordered">
                    <div class="portlet-title">
                        <div class="caption">
                            <span class="caption-subject font-red sbold uppercase">@ViewBag.Title</span>
                        </div>
                        <div class="actions">
                            <a id="sel-all-btn" href="#" class="btn btn-circle red btn-sm hidden">
                                <i class="fa fa-trash"></i> Sil
                            </a>
                        @if (string.IsNullOrEmpty(ViewBag.Search))
                        {
                            <a href="@Url.Action("AddPost", "Backoffice", new {type = ViewBag.Type})" class="btn btn-circle green btn-sm">
                                <i class="fa fa-plus"></i> Yeni Ekle</a>
                        }
                        </div>
                    </div>
                    @if (Model.Posts.Any())
                    {
                        <div class="portlet-body">
                            <form id="compliant-form" method="get"
                                  action="@Url.Action("GetPostListBySearch","Backoffice")"
                                  class="horizontal-form">
                                <div class="form-body">

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="text" id="post_name"
                                                       placeholder="İçerik genel arama" name="key"
                                                       value="@ViewBag.SearchParam"
                                                       class="form-control">
                                                

                                            </div>
                                        </div>
                                        <div class="form-actions right">
                                            <button type="submit" class="btn btn-circle blue">
                                                <i class="fa fa-search"></i> Ara
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="table-scrollable table-scrollable-borderless">

                                <table class="table table-hover table-light">
                                    <thead>
                                    <tr class="uppercase">
                                        <th style="width: 5%;">
                                            <label class="mt-checkbox mt-checkbox-outline" style="font-size: 10px; margin-bottom: 0; padding-left: 0">
                                                Tümünü Seç
                                                <input type="checkbox" value="" id="sel-all"/>
                                            </label>
                                        </th>
                                        <th>Başlık</th>
                                        <th>Görsel</th>
                                        <th>Durum</th>
                                        <th>Eklenme Tarihi</th>
                                        <th>Yayın Tarihi</th>
                                        <th>İşlem</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    @foreach (var post in Model.Posts)
                                    {
                                        <tr>
                                            <td>
                                                <label class="mt-checkbox mt-checkbox-outline">
                                                    <input type="checkbox" value="@post.Id" name="ids[]" class="ids"/>
                                                    <span></span>
                                                </label>
                                            </td>
                                            <td>@post.PostTitle</td>
                                            <td>
                                                <img style="width: 200px" src="@url@post.MobileImage" alt=""/>
                                            </td>
                                            @if (post.PostStatus == 1)
                                            {
                                                <td><span class="label label-info"> Yayında </span></td>
                                            }
                                            else
                                            {
                                                <td><span class="label label-success"> Taslak </span></td>
                                            }
                                            <td>@post.CreatedDate.ToString("dd-MM-yyyy HH:mm:ss")</td>
                                            <td>@post.PublishDate.ToString("dd-MM-yyyy HH:mm:ss")</td>
                                            <td>
                                                @if (post.PostStatus == 2)
                                                {

                                                    var rUrl = string.Empty;
                                                    switch (post.PostType)
                                                    {
                                                        case (byte) PostType.PlainText:
                                                            rUrl = Url.RouteUrl("ShowPlainAndSpecialContent", new {slug = post.PostSlug});
                                                            break;
                                                        case (byte) PostType.Image:
                                                            rUrl = Url.RouteUrl("ShowPhotoContent", new {category = post.CatSlug, slug = post.PostSlug});
                                                            break;
                                                        case (byte) PostType.Video:
                                                            rUrl = Url.RouteUrl("ShowVideoContent", new {category = post.CatSlug, slug = post.PostSlug});
                                                            break;
                                                        case (byte) PostType.List:
                                                            rUrl = Url.RouteUrl("ShowListContent", new {category = post.CatSlug, slug = post.PostSlug});
                                                            break;
                                                        case (byte) PostType.ShopList:
                                                            rUrl = Url.RouteUrl("ShowShoppingContent", new {slug = post.PostSlug});
                                                            break;
                                                    }
                                                    
                                                    <a href="@rUrl?preview" target="_blank" style="text-decoration: none">
                                                        <span class="btn btn-outline btn-circle btn-sm blue">
                                                            <i class="fa fa-eye">
                                                            </i> Ön İzleme
                                                        </span>
                                                    </a>
                                                }
                                                <a href="@Url.Action("PostDetail", "Backoffice", new {pid = post.Id})" style="text-decoration: none">
                                                    <span class="btn btn-outline btn-circle btn-sm green-jungle">
                                                        <i class="fa fa-edit">
                                                        </i> Düzenle
                                                    </span>
                                                </a>
                                                <a href="#" class="del" data-id="@post.Id">
                                                    <span class="btn btn-outline btn-circle btn-sm red">
                                                        <i class="fa fa-trash-o">
                                                        </i> Sil
                                                    </span>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                    </tbody>
                                </table>

                            </div>
                            @if (string.IsNullOrEmpty(ViewBag.Search))
                            {
                                <div class="widget-foot">
                                    @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount).Options(o => o
                                        .DisplayTemplate("BootstrapPagination")
                                        .MaxNrOfPages(5)
                                        .AlwaysAddFirstPageNumber()
                                        .SetPreviousPageText("←")
                                        .SetNextPageText("→"))
                                    <div class="clearfix"></div>
                                </div>
                            }
                        </div>
                    }
                </div>
                <!-- END BORDERED TABLE PORTLET-->
            </div>
        </div>
    </div>
    <!-- END PAGE BASE CONTENT -->
</div>
@section Script {
    <script>
        $(function() {
            
            $("#sel-all").on('click',
                function() {
                    var self = $(this);
                    self.prop("checked", !self.prop("checked"));
                   
                    $("#sel-all-btn").toggleClass('hidden');

                    var checkBoxes = $("input[name=ids\\[\\]]");
                    checkBoxes.prop("checked", !checkBoxes.prop("checked"));
                });

            
            $(".ids").on('click',
                function() {
                    var self = $(this);
                    self.prop("checked");
                    
                    var ids = [];
                    $('.ids:checked').each(function(i, e) {
                        ids.push($(this).val());
                    });

                    switch (ids.length) {
                    case 0 :
                        $("#sel-all-btn").addClass('hidden');
                        break;
                    default:
                        $("#sel-all-btn").removeClass('hidden');
                    }
                    
                });

            $("a#sel-all-btn").on('click',
                function(e) {
                   
                    e.preventDefault();
                    alertify.confirm('Uyarı',
                        'Silmek istediğinizden emin misiniz?',
                        function() {
                            App.blockUI({
                                boxed: true,
                                message: 'İşleminiz yapılırken lütfen bekleyiniz'
                            });
                            var ids = [];
                            $.each($('.ids:checked'), function () {
                                ids.push($(this).val());
                            });
                            $.ajax({
                                type: "POST",
                                dataType: "json",
                                contentType: "application/json",
                                url: '@Url.Action("DeletePosts", "Backoffice")',
                                data: JSON.stringify({ values: ids }),
                                success:function(ret) {
                                    if (ret.status) {
                                        location.reload();
                                    }
                                }
                            });
                        },
                        null);
                });
            
            $("a.del").on('click',
                function(e) {
                    var i = $(this).data('id');
                    e.preventDefault();
                    alertify.confirm('Uyarı', 'Silmek istediğinizden emin misiniz?', function () {
                        App.blockUI({
                            boxed: true,
                            message: 'İşleminiz yapılırken lütfen bekleyiniz'
                        });
                        $.post('@Url.Action("DeletePost","Backoffice")',
                            { id : i },
                            function(ret) {
                                if (ret) {
                                    location.reload();
                                }
                            },"json");
                    }, null);
                });
        });
    </script>
}
