﻿@using HopiBlog.Helpers
@{
    Layout = null;
    var bundle = Utilities.AppSetting("RoutePrefix") == "" ? "" : "/" + Utilities.AppSetting("RoutePrefix");
}

<!DOCTYPE html>
<!--[if IE 8]>
    <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]>
    <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->

<head>
    <meta charset="utf-8"/>
    <title>Hopi Blog Yönetim Paneli</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet"
          type="text/css"/>
    <link href="@bundle/Static/be/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet"
          type="text/css"/>

    <link href="@bundle/Static/be/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>

    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href="@bundle/Static/be/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css"/>
    <link href="@bundle/Static/be/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet"
          type="text/css"/>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="@bundle/Static/be/assets/global/css/components.min.css" rel="stylesheet" id="style_components"
          type="text/css"/>
    <link href="@bundle/Static/be/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css"/>
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="@bundle/Static/be/assets/pages/css/login-3.min.css" rel="stylesheet" type="text/css"/>
    <!-- END PAGE LEVEL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    <!-- END THEME LAYOUT STYLES -->
</head>
<!-- END HEAD -->

<body class=" login">
<!-- BEGIN LOGO -->
<div class="logo">
    <img src="http://www.hopi.com.tr/dist/img/logo_hopi.png" alt="Hopi"/>
</div>
<!-- END LOGO -->
<!-- BEGIN LOGIN -->
<div class="content">
    <!-- BEGIN LOGIN FORM -->
    <form class="login-form" action="@Url.Action("Index","AdminHome")" method="post">
        @Html.AntiForgeryToken()
        <h3 class="form-title">Panel Giriş</h3>
        @if (ViewBag.Status != null)
        {
            <div class="alert alert-danger">
                <button class="close" data-close="alert"></button>
                <span> @ViewBag.Status</span>
            </div>
        }
        <div class="form-group">
            <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
            <label class="control-label visible-ie8 visible-ie9">Kullanıcı Adı</label>
            <div class="input-icon">
                <i class="fa fa-user"></i>
                <input class="form-control placeholder-no-fix" type="text" autocomplete="off"
                       placeholder="Kullanıcı Adı" name="username"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">Şifre</label>
            <div class="input-icon">
                <i class="fa fa-lock"></i>
                <input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="Şifre"
                       name="password"/>
            </div>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn green pull-right"> Giriş</button>
        </div>
    </form>
    <!-- END LOGIN FORM -->

</div>
<!-- END LOGIN -->
<!--[if lt IE 9]>
    <script src="@bundle/Static/be/assets/global/plugins/respond.min.js"></script>
    <script src="@bundle/Static/be/assets/global/plugins/excanvas.min.js"></script>
    <script src="@bundle/Static/be/assets/global/plugins/ie8.fix.min.js"></script>
<![endif]-->
<!-- BEGIN CORE PLUGINS -->
<script src="@bundle/Static/be/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
<script src="@bundle/Static/be/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="@bundle/Static/be/assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
<script src="@bundle/Static/be/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js"
        type="text/javascript"></script>
<script src="@bundle/Static/be/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="@bundle/Static/be/assets/global/plugins/jquery-validation/js/jquery.validate.min.js"
        type="text/javascript"></script>
<script src="@bundle/Static/be/assets/global/plugins/jquery-validation/js/additional-methods.min.js"
        type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN THEME GLOBAL SCRIPTS -->
<script src="@bundle/Static/be/assets/global/scripts/app.min.js" type="text/javascript"></script>
<!-- END THEME GLOBAL SCRIPTS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="@bundle/Static/be/assets/pages/scripts/login.min.js" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->
<!-- BEGIN THEME LAYOUT SCRIPTS -->
<!-- END THEME LAYOUT SCRIPTS -->
</body>

</html>
