@using HopiAmp.Controllers
@{
    var viewModel = (MainLayoutViewModel) ViewBag.MainLayoutViewModel;
}
<!DOCTYPE html>
<html ⚡="">
  <head>
      <meta charset="utf-8">
      @RenderSection("Meta",false)
      <title>@ViewBag.Title</title>
    <script async="" src="https://cdn.ampproject.org/v0.js"></script>
    <title>Hopi Blog AMP</title>
    <link rel="canonical" href="">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
      <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
      <link rel="icon" type="image/png" href="~/favicon.ico">
      @RenderSection("Social",false)
    <style amp-boilerplate="">body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style>
    <noscript>
      <style amp-boilerplate="">body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style>
    </noscript>
    <style amp-custom="">html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background-color:transparent}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}mark{background:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;height:0}pre{overflow:auto}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type="checkbox"],input[type="radio"]{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0}input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto}input[type="search"]{-webkit-appearance:textfield;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}textarea{overflow:auto}optgroup{font-weight:bold}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}html{font-size:10px;-webkit-tap-highlight-color:rgba(0,0,0,0)}body{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:14px;line-height:1.42857143;color:#333;background-color:#fff}input,button,select,textarea{font-family:inherit;font-size:inherit;line-height:inherit}a{color:#337ab7;text-decoration:none}a:focus{outline:5px auto -webkit-focus-ring-color;outline-offset:-2px}figure{margin:0}img{vertical-align:middle}.img-responsive{display:block;max-width:100%;height:auto}[role="button"]{cursor:pointer}.container{margin-right:auto;margin-left:auto;padding-left:15px;padding-right:15px}@@media (min-width:768px){.container{width:750px}}@@media (min-width:992px){.container{width:970px}}@@media (min-width:1200px){.container{width:1170px}}.container-fluid{margin-right:auto;margin-left:auto;padding-left:15px;padding-right:15px}.row{margin-left:-15px;margin-right:-15px}.col-xs-1,.col-sm-1,.col-md-1,.col-lg-1,.col-xs-2,.col-sm-2,.col-md-2,.col-lg-2,.col-xs-3,.col-sm-3,.col-md-3,.col-lg-3,.col-xs-4,.col-sm-4,.col-md-4,.col-lg-4,.col-xs-5,.col-sm-5,.col-md-5,.col-lg-5,.col-xs-6,.col-sm-6,.col-md-6,.col-lg-6,.col-xs-7,.col-sm-7,.col-md-7,.col-lg-7,.col-xs-8,.col-sm-8,.col-md-8,.col-lg-8,.col-xs-9,.col-sm-9,.col-md-9,.col-lg-9,.col-xs-10,.col-sm-10,.col-md-10,.col-lg-10,.col-xs-11,.col-sm-11,.col-md-11,.col-lg-11,.col-xs-12,.col-sm-12,.col-md-12,.col-lg-12{position:relative;min-height:1px;padding-left:15px;padding-right:15px}.col-xs-1,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9,.col-xs-10,.col-xs-11,.col-xs-12{float:left}.col-xs-12{width:100%}.col-xs-11{width:91.66666667%}.col-xs-10{width:83.33333333%}.col-xs-9{width:75%}.col-xs-8{width:66.66666667%}.col-xs-7{width:58.33333333%}.col-xs-6{width:50%}.col-xs-5{width:41.66666667%}.col-xs-4{width:33.33333333%}.col-xs-3{width:25%}.col-xs-2{width:16.66666667%}.col-xs-1{width:8.33333333%}.col-xs-pull-12{right:100%}.col-xs-pull-11{right:91.66666667%}.col-xs-pull-10{right:83.33333333%}.col-xs-pull-9{right:75%}.col-xs-pull-8{right:66.66666667%}.col-xs-pull-7{right:58.33333333%}.col-xs-pull-6{right:50%}.col-xs-pull-5{right:41.66666667%}.col-xs-pull-4{right:33.33333333%}.col-xs-pull-3{right:25%}.col-xs-pull-2{right:16.66666667%}.col-xs-pull-1{right:8.33333333%}.col-xs-pull-0{right:auto}.col-xs-push-12{left:100%}.col-xs-push-11{left:91.66666667%}.col-xs-push-10{left:83.33333333%}.col-xs-push-9{left:75%}.col-xs-push-8{left:66.66666667%}.col-xs-push-7{left:58.33333333%}.col-xs-push-6{left:50%}.col-xs-push-5{left:41.66666667%}.col-xs-push-4{left:33.33333333%}.col-xs-push-3{left:25%}.col-xs-push-2{left:16.66666667%}.col-xs-push-1{left:8.33333333%}.col-xs-push-0{left:auto}.col-xs-offset-12{margin-left:100%}.col-xs-offset-11{margin-left:91.66666667%}.col-xs-offset-10{margin-left:83.33333333%}.col-xs-offset-9{margin-left:75%}.col-xs-offset-8{margin-left:66.66666667%}.col-xs-offset-7{margin-left:58.33333333%}.col-xs-offset-6{margin-left:50%}.col-xs-offset-5{margin-left:41.66666667%}.col-xs-offset-4{margin-left:33.33333333%}.col-xs-offset-3{margin-left:25%}.col-xs-offset-2{margin-left:16.66666667%}.col-xs-offset-1{margin-left:8.33333333%}.col-xs-offset-0{margin-left:0}@@media (min-width:768px){.col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12{float:left}.col-sm-12{width:100%}.col-sm-11{width:91.66666667%}.col-sm-10{width:83.33333333%}.col-sm-9{width:75%}.col-sm-8{width:66.66666667%}.col-sm-7{width:58.33333333%}.col-sm-6{width:50%}.col-sm-5{width:41.66666667%}.col-sm-4{width:33.33333333%}.col-sm-3{width:25%}.col-sm-2{width:16.66666667%}.col-sm-1{width:8.33333333%}.col-sm-pull-12{right:100%}.col-sm-pull-11{right:91.66666667%}.col-sm-pull-10{right:83.33333333%}.col-sm-pull-9{right:75%}.col-sm-pull-8{right:66.66666667%}.col-sm-pull-7{right:58.33333333%}.col-sm-pull-6{right:50%}.col-sm-pull-5{right:41.66666667%}.col-sm-pull-4{right:33.33333333%}.col-sm-pull-3{right:25%}.col-sm-pull-2{right:16.66666667%}.col-sm-pull-1{right:8.33333333%}.col-sm-pull-0{right:auto}.col-sm-push-12{left:100%}.col-sm-push-11{left:91.66666667%}.col-sm-push-10{left:83.33333333%}.col-sm-push-9{left:75%}.col-sm-push-8{left:66.66666667%}.col-sm-push-7{left:58.33333333%}.col-sm-push-6{left:50%}.col-sm-push-5{left:41.66666667%}.col-sm-push-4{left:33.33333333%}.col-sm-push-3{left:25%}.col-sm-push-2{left:16.66666667%}.col-sm-push-1{left:8.33333333%}.col-sm-push-0{left:auto}.col-sm-offset-12{margin-left:100%}.col-sm-offset-11{margin-left:91.66666667%}.col-sm-offset-10{margin-left:83.33333333%}.col-sm-offset-9{margin-left:75%}.col-sm-offset-8{margin-left:66.66666667%}.col-sm-offset-7{margin-left:58.33333333%}.col-sm-offset-6{margin-left:50%}.col-sm-offset-5{margin-left:41.66666667%}.col-sm-offset-4{margin-left:33.33333333%}.col-sm-offset-3{margin-left:25%}.col-sm-offset-2{margin-left:16.66666667%}.col-sm-offset-1{margin-left:8.33333333%}.col-sm-offset-0{margin-left:0}}@@media (min-width:992px){.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12{float:left}.col-md-12{width:100%}.col-md-11{width:91.66666667%}.col-md-10{width:83.33333333%}.col-md-9{width:75%}.col-md-8{width:66.66666667%}.col-md-7{width:58.33333333%}.col-md-6{width:50%}.col-md-5{width:41.66666667%}.col-md-4{width:33.33333333%}.col-md-3{width:25%}.col-md-2{width:16.66666667%}.col-md-1{width:8.33333333%}.col-md-pull-12{right:100%}.col-md-pull-11{right:91.66666667%}.col-md-pull-10{right:83.33333333%}.col-md-pull-9{right:75%}.col-md-pull-8{right:66.66666667%}.col-md-pull-7{right:58.33333333%}.col-md-pull-6{right:50%}.col-md-pull-5{right:41.66666667%}.col-md-pull-4{right:33.33333333%}.col-md-pull-3{right:25%}.col-md-pull-2{right:16.66666667%}.col-md-pull-1{right:8.33333333%}.col-md-pull-0{right:auto}.col-md-push-12{left:100%}.col-md-push-11{left:91.66666667%}.col-md-push-10{left:83.33333333%}.col-md-push-9{left:75%}.col-md-push-8{left:66.66666667%}.col-md-push-7{left:58.33333333%}.col-md-push-6{left:50%}.col-md-push-5{left:41.66666667%}.col-md-push-4{left:33.33333333%}.col-md-push-3{left:25%}.col-md-push-2{left:16.66666667%}.col-md-push-1{left:8.33333333%}.col-md-push-0{left:auto}.col-md-offset-12{margin-left:100%}.col-md-offset-11{margin-left:91.66666667%}.col-md-offset-10{margin-left:83.33333333%}.col-md-offset-9{margin-left:75%}.col-md-offset-8{margin-left:66.66666667%}.col-md-offset-7{margin-left:58.33333333%}.col-md-offset-6{margin-left:50%}.col-md-offset-5{margin-left:41.66666667%}.col-md-offset-4{margin-left:33.33333333%}.col-md-offset-3{margin-left:25%}.col-md-offset-2{margin-left:16.66666667%}.col-md-offset-1{margin-left:8.33333333%}.col-md-offset-0{margin-left:0}}@@media (min-width:1200px){.col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12{float:left}.col-lg-12{width:100%}.col-lg-11{width:91.66666667%}.col-lg-10{width:83.33333333%}.col-lg-9{width:75%}.col-lg-8{width:66.66666667%}.col-lg-7{width:58.33333333%}.col-lg-6{width:50%}.col-lg-5{width:41.66666667%}.col-lg-4{width:33.33333333%}.col-lg-3{width:25%}.col-lg-2{width:16.66666667%}.col-lg-1{width:8.33333333%}.col-lg-pull-12{right:100%}.col-lg-pull-11{right:91.66666667%}.col-lg-pull-10{right:83.33333333%}.col-lg-pull-9{right:75%}.col-lg-pull-8{right:66.66666667%}.col-lg-pull-7{right:58.33333333%}.col-lg-pull-6{right:50%}.col-lg-pull-5{right:41.66666667%}.col-lg-pull-4{right:33.33333333%}.col-lg-pull-3{right:25%}.col-lg-pull-2{right:16.66666667%}.col-lg-pull-1{right:8.33333333%}.col-lg-pull-0{right:auto}.col-lg-push-12{left:100%}.col-lg-push-11{left:91.66666667%}.col-lg-push-10{left:83.33333333%}.col-lg-push-9{left:75%}.col-lg-push-8{left:66.66666667%}.col-lg-push-7{left:58.33333333%}.col-lg-push-6{left:50%}.col-lg-push-5{left:41.66666667%}.col-lg-push-4{left:33.33333333%}.col-lg-push-3{left:25%}.col-lg-push-2{left:16.66666667%}.col-lg-push-1{left:8.33333333%}.col-lg-push-0{left:auto}.col-lg-offset-12{margin-left:100%}.col-lg-offset-11{margin-left:91.66666667%}.col-lg-offset-10{margin-left:83.33333333%}.col-lg-offset-9{margin-left:75%}.col-lg-offset-8{margin-left:66.66666667%}.col-lg-offset-7{margin-left:58.33333333%}.col-lg-offset-6{margin-left:50%}.col-lg-offset-5{margin-left:41.66666667%}.col-lg-offset-4{margin-left:33.33333333%}.col-lg-offset-3{margin-left:25%}.col-lg-offset-2{margin-left:16.66666667%}.col-lg-offset-1{margin-left:8.33333333%}.col-lg-offset-0{margin-left:0}}label{display:inline-block;max-width:100%;margin-bottom:5px;font-weight:bold}input[type="search"]{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}input[type="radio"],input[type="checkbox"]{margin:4px 0 0;margin-top:1px 9;line-height:normal}input[type="file"]{display:block}input[type="range"]{display:block;width:100%}select[multiple],select[size]{height:auto}input[type="file"]:focus,input[type="radio"]:focus,input[type="checkbox"]:focus{outline:5px auto -webkit-focus-ring-color;outline-offset:-2px}output{display:block;padding-top:7px;font-size:14px;line-height:1.42857143;color:#555}.form-control{display:block;width:100%;height:34px;padding:6px 12px;font-size:14px;line-height:1.42857143;color:#555;background-color:#fff;background-image:none;border:1px solid #ccc;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);-webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;-o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s}.form-control:focus{border-color:#66afe9;outline:0;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6)}.form-control::-moz-placeholder{color:#999;opacity:1}.form-control:-ms-input-placeholder{color:#999}.form-control::-webkit-input-placeholder{color:#999}.form-control::-ms-expand{border:0;background-color:transparent}.form-control[disabled],.form-control[readonly],fieldset[disabled] .form-control{background-color:#eee;opacity:1}.form-control[disabled],fieldset[disabled] .form-control{cursor:not-allowed}textarea.form-control{height:auto}input[type="search"]{-webkit-appearance:none}@@media screen and (-webkit-min-device-pixel-ratio:0){input[type="date"].form-control,input[type="time"].form-control,input[type="datetime-local"].form-control,input[type="month"].form-control{line-height:34px}input[type="date"].input-sm,input[type="time"].input-sm,input[type="datetime-local"].input-sm,input[type="month"].input-sm,.input-group-sm input[type="date"],.input-group-sm input[type="time"],.input-group-sm input[type="datetime-local"],.input-group-sm input[type="month"]{line-height:30px}input[type="date"].input-lg,input[type="time"].input-lg,input[type="datetime-local"].input-lg,input[type="month"].input-lg,.input-group-lg input[type="date"],.input-group-lg input[type="time"],.input-group-lg input[type="datetime-local"],.input-group-lg input[type="month"]{line-height:46px}}.form-group{margin-bottom:15px}.radio,.checkbox{position:relative;display:block;margin-top:10px;margin-bottom:10px}.radio label,.checkbox label{min-height:20px;padding-left:20px;margin-bottom:0;font-weight:normal;cursor:pointer}.radio input[type="radio"],.radio-inline input[type="radio"],.checkbox input[type="checkbox"],.checkbox-inline input[type="checkbox"]{position:absolute;margin-left:-20px;margin-top:4px 9}.radio+.radio,.checkbox+.checkbox{margin-top:-5px}.radio-inline,.checkbox-inline{position:relative;display:inline-block;padding-left:20px;margin-bottom:0;vertical-align:middle;font-weight:normal;cursor:pointer}.radio-inline+.radio-inline,.checkbox-inline+.checkbox-inline{margin-top:0;margin-left:10px}input[type="radio"][disabled],input[type="checkbox"][disabled],input[type="radio"].disabled,input[type="checkbox"].disabled,fieldset[disabled] input[type="radio"],fieldset[disabled] input[type="checkbox"]{cursor:not-allowed}.radio-inline.disabled,.checkbox-inline.disabled,fieldset[disabled] .radio-inline,fieldset[disabled] .checkbox-inline{cursor:not-allowed}.radio.disabled label,.checkbox.disabled label,fieldset[disabled] .radio label,fieldset[disabled] .checkbox label{cursor:not-allowed}.form-control-static{padding-top:7px;padding-bottom:7px;margin-bottom:0;min-height:34px}.form-control-static.input-lg,.form-control-static.input-sm{padding-left:0;padding-right:0}.input-sm{height:30px;padding:5px 10px;font-size:12px;line-height:1.5;border-radius:3px}select.input-sm{height:30px;line-height:30px}textarea.input-sm,select[multiple].input-sm{height:auto}.form-group-sm .form-control{height:30px;padding:5px 10px;font-size:12px;line-height:1.5;border-radius:3px}.form-group-sm select.form-control{height:30px;line-height:30px}.form-group-sm textarea.form-control,.form-group-sm select[multiple].form-control{height:auto}.form-group-sm .form-control-static{height:30px;min-height:32px;padding:6px 10px;font-size:12px;line-height:1.5}.input-lg{height:46px;padding:10px 16px;font-size:18px;line-height:1.3333333;border-radius:6px}select.input-lg{height:46px;line-height:46px}textarea.input-lg,select[multiple].input-lg{height:auto}.form-group-lg .form-control{height:46px;padding:10px 16px;font-size:18px;line-height:1.3333333;border-radius:6px}.form-group-lg select.form-control{height:46px;line-height:46px}.form-group-lg textarea.form-control,.form-group-lg select[multiple].form-control{height:auto}.form-group-lg .form-control-static{height:46px;min-height:38px;padding:11px 16px;font-size:18px;line-height:1.3333333}.has-feedback{position:relative}.has-feedback .form-control{padding-right:42.5px}.form-control-feedback{position:absolute;top:0;right:0;z-index:2;display:block;width:34px;height:34px;line-height:34px;text-align:center;pointer-events:none}.input-lg+.form-control-feedback,.input-group-lg+.form-control-feedback,.form-group-lg .form-control+.form-control-feedback{width:46px;height:46px;line-height:46px}.input-sm+.form-control-feedback,.input-group-sm+.form-control-feedback,.form-group-sm .form-control+.form-control-feedback{width:30px;height:30px;line-height:30px}.has-success .help-block,.has-success .control-label,.has-success .radio,.has-success .checkbox,.has-success .radio-inline,.has-success .checkbox-inline,.has-success.radio label,.has-success.checkbox label,.has-success.radio-inline label,.has-success.checkbox-inline label{color:#3c763d}.has-success .form-control{border-color:#3c763d;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);box-shadow:inset 0 1px 1px rgba(0,0,0,0.075)}.has-success .form-control:focus{border-color:#2b542c;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px #67b168;box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px #67b168}.has-success .input-group-addon{color:#3c763d;border-color:#3c763d;background-color:#dff0d8}.has-success .form-control-feedback{color:#3c763d}.has-warning .help-block,.has-warning .control-label,.has-warning .radio,.has-warning .checkbox,.has-warning .radio-inline,.has-warning .checkbox-inline,.has-warning.radio label,.has-warning.checkbox label,.has-warning.radio-inline label,.has-warning.checkbox-inline label{color:#8a6d3b}.has-warning .form-control{border-color:#8a6d3b;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);box-shadow:inset 0 1px 1px rgba(0,0,0,0.075)}.has-warning .form-control:focus{border-color:#66512c;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px #c0a16b;box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px #c0a16b}.has-warning .input-group-addon{color:#8a6d3b;border-color:#8a6d3b;background-color:#fcf8e3}.has-warning .form-control-feedback{color:#8a6d3b}.has-error .help-block,.has-error .control-label,.has-error .radio,.has-error .checkbox,.has-error .radio-inline,.has-error .checkbox-inline,.has-error.radio label,.has-error.checkbox label,.has-error.radio-inline label,.has-error.checkbox-inline label{color:#a94442}.has-error .form-control{border-color:#a94442;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);box-shadow:inset 0 1px 1px rgba(0,0,0,0.075)}.has-error .form-control:focus{border-color:#843534;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px #ce8483;box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px #ce8483}.has-error .input-group-addon{color:#a94442;border-color:#a94442;background-color:#f2dede}.has-error .form-control-feedback{color:#a94442}.has-feedback label~.form-control-feedback{top:25px}.has-feedback label.sr-only~.form-control-feedback{top:0}.help-block{display:block;margin-top:5px;margin-bottom:10px;color:#737373}@@media (min-width:768px){.form-inline .form-group{display:inline-block;margin-bottom:0;vertical-align:middle}.form-inline .form-control{display:inline-block;width:auto;vertical-align:middle}.form-inline .form-control-static{display:inline-block}.form-inline .input-group{display:inline-table;vertical-align:middle}.form-inline .input-group .input-group-addon,.form-inline .input-group .input-group-btn,.form-inline .input-group .form-control{width:auto}.form-inline .input-group>.form-control{width:100%}.form-inline .control-label{margin-bottom:0;vertical-align:middle}.form-inline .radio,.form-inline .checkbox{display:inline-block;margin-top:0;margin-bottom:0;vertical-align:middle}.form-inline .radio label,.form-inline .checkbox label{padding-left:0}.form-inline .radio input[type="radio"],.form-inline .checkbox input[type="checkbox"]{position:relative;margin-left:0}.form-inline .has-feedback .form-control-feedback{top:0}}.form-horizontal .radio,.form-horizontal .checkbox,.form-horizontal .radio-inline,.form-horizontal .checkbox-inline{margin-top:0;margin-bottom:0;padding-top:7px}.form-horizontal .radio,.form-horizontal .checkbox{min-height:27px}.form-horizontal .form-group{margin-left:-15px;margin-right:-15px}@@media (min-width:768px){.form-horizontal .control-label{text-align:right;margin-bottom:0;padding-top:7px}}.form-horizontal .has-feedback .form-control-feedback{right:15px}@@media (min-width:768px){.form-horizontal .form-group-lg .control-label{padding-top:11px;font-size:18px}}@@media (min-width:768px){.form-horizontal .form-group-sm .control-label{padding-top:6px;font-size:12px}}.btn{display:inline-block;margin-bottom:0;font-weight:normal;text-align:center;vertical-align:middle;-ms-touch-action:manipulation;touch-action:manipulation;cursor:pointer;background-image:none;border:1px solid transparent;white-space:nowrap;padding:6px 12px;font-size:14px;line-height:1.42857143;border-radius:4px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}input[type="submit"].btn-block,input[type="reset"].btn-block,input[type="button"].btn-block{width:100%}.input-group{position:relative;display:table;border-collapse:separate}.input-group[class*="col-"]{float:none;padding-left:0;padding-right:0}.input-group .form-control{position:relative;z-index:2;float:left;width:100%;margin-bottom:0}.input-group .form-control:focus{z-index:3}.input-group-lg>.form-control,.input-group-lg>.input-group-addon,.input-group-lg>.input-group-btn>.btn{height:46px;padding:10px 16px;font-size:18px;line-height:1.3333333;border-radius:6px}select.input-group-lg>.form-control,select.input-group-lg>.input-group-addon,select.input-group-lg>.input-group-btn>.btn{height:46px;line-height:46px}textarea.input-group-lg>.form-control,textarea.input-group-lg>.input-group-addon,textarea.input-group-lg>.input-group-btn>.btn,select[multiple].input-group-lg>.form-control,select[multiple].input-group-lg>.input-group-addon,select[multiple].input-group-lg>.input-group-btn>.btn{height:auto}.input-group-sm>.form-control,.input-group-sm>.input-group-addon,.input-group-sm>.input-group-btn>.btn{height:30px;padding:5px 10px;font-size:12px;line-height:1.5;border-radius:3px}select.input-group-sm>.form-control,select.input-group-sm>.input-group-addon,select.input-group-sm>.input-group-btn>.btn{height:30px;line-height:30px}textarea.input-group-sm>.form-control,textarea.input-group-sm>.input-group-addon,textarea.input-group-sm>.input-group-btn>.btn,select[multiple].input-group-sm>.form-control,select[multiple].input-group-sm>.input-group-addon,select[multiple].input-group-sm>.input-group-btn>.btn{height:auto}.input-group-addon,.input-group-btn,.input-group .form-control{display:table-cell}.input-group-addon:not(:first-child):not(:last-child),.input-group-btn:not(:first-child):not(:last-child),.input-group .form-control:not(:first-child):not(:last-child){border-radius:0}.input-group-addon,.input-group-btn{width:1%;white-space:nowrap;vertical-align:middle}.input-group-addon{padding:6px 12px;font-size:14px;font-weight:normal;line-height:1;color:#555;text-align:center;background-color:#eee;border:1px solid #ccc;border-radius:4px}.input-group-addon.input-sm{padding:5px 10px;font-size:12px;border-radius:3px}.input-group-addon.input-lg{padding:10px 16px;font-size:18px;border-radius:6px}.input-group-addon input[type="radio"],.input-group-addon input[type="checkbox"]{margin-top:0}.input-group .form-control:first-child,.input-group-addon:first-child,.input-group-btn:first-child>.btn,.input-group-btn:first-child>.btn-group>.btn,.input-group-btn:first-child>.dropdown-toggle,.input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle),.input-group-btn:last-child>.btn-group:not(:last-child)>.btn{border-bottom-right-radius:0;border-top-right-radius:0}.input-group-addon:first-child{border-right:0}.input-group .form-control:last-child,.input-group-addon:last-child,.input-group-btn:last-child>.btn,.input-group-btn:last-child>.btn-group>.btn,.input-group-btn:last-child>.dropdown-toggle,.input-group-btn:first-child>.btn:not(:first-child),.input-group-btn:first-child>.btn-group:not(:first-child)>.btn{border-bottom-left-radius:0;border-top-left-radius:0}.input-group-addon:last-child{border-left:0}.input-group-btn{position:relative;font-size:0;white-space:nowrap}.input-group-btn>.btn{position:relative}.input-group-btn>.btn+.btn{margin-left:-1px}.input-group-btn>.btn:hover,.input-group-btn>.btn:focus,.input-group-btn>.btn:active{z-index:2}.input-group-btn:first-child>.btn,.input-group-btn:first-child>.btn-group{margin-right:-1px}.input-group-btn:last-child>.btn,.input-group-btn:last-child>.btn-group{z-index:2;margin-left:-1px}.label{display:inline;padding:.2em .6em .3em;font-size:75%;font-weight:bold;line-height:1;color:#fff;text-align:center;white-space:nowrap;vertical-align:baseline;border-radius:.25em}a.label:hover,a.label:focus{color:#fff;text-decoration:none;cursor:pointer}.label:empty{display:none}.btn .label{position:relative;top:-1px}.label-default{background-color:#777}.label-default[href]:hover,.label-default[href]:focus{background-color:#5e5e5e}.label-primary{background-color:#337ab7}.label-primary[href]:hover,.label-primary[href]:focus{background-color:#286090}.label-success{background-color:#5cb85c}.label-success[href]:hover,.label-success[href]:focus{background-color:#449d44}.label-info{background-color:#5bc0de}.label-info[href]:hover,.label-info[href]:focus{background-color:#31b0d5}.label-warning{background-color:#f0ad4e}.label-warning[href]:hover,.label-warning[href]:focus{background-color:#ec971f}.label-danger{background-color:#d9534f}.label-danger[href]:hover,.label-danger[href]:focus{background-color:#c9302c}.clearfix:before,.clearfix:after,.container:before,.container:after,.container-fluid:before,.container-fluid:after,.row:before,.row:after,.form-horizontal .form-group:before,.form-horizontal .form-group:after{content:" ";display:table}.clearfix:after,.container:after,.container-fluid:after,.row:after,.form-horizontal .form-group:after{clear:both}.center-block{display:block;margin-left:auto;margin-right:auto}.pull-right{float:right}.pull-left{float:left}.hide{display:none}.show{display:block}.invisible{visibility:hidden}.text-hide{font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0}.hidden{display:none}.affix{position:fixed}.visible-xs,.visible-sm,.visible-md,.visible-lg{display:none}.visible-xs-block,.visible-xs-inline,.visible-xs-inline-block,.visible-sm-block,.visible-sm-inline,.visible-sm-inline-block,.visible-md-block,.visible-md-inline,.visible-md-inline-block,.visible-lg-block,.visible-lg-inline,.visible-lg-inline-block{display:none}@@media (max-width:767px){.visible-xs{display:block}table.visible-xs{display:table}tr.visible-xs{display:table-row}th.visible-xs,td.visible-xs{display:table-cell}}@@media (max-width:767px){.visible-xs-block{display:block}}@@media (max-width:767px){.visible-xs-inline{display:inline}}@@media (max-width:767px){.visible-xs-inline-block{display:inline-block}}@@media (min-width:768px) and (max-width:991px){.visible-sm{display:block}table.visible-sm{display:table}tr.visible-sm{display:table-row}th.visible-sm,td.visible-sm{display:table-cell}}@@media (min-width:768px) and (max-width:991px){.visible-sm-block{display:block}}@@media (min-width:768px) and (max-width:991px){.visible-sm-inline{display:inline}}@@media (min-width:768px) and (max-width:991px){.visible-sm-inline-block{display:inline-block}}@@media (min-width:992px) and (max-width:1199px){.visible-md{display:block}table.visible-md{display:table}tr.visible-md{display:table-row}th.visible-md,td.visible-md{display:table-cell}}@@media (min-width:992px) and (max-width:1199px){.visible-md-block{display:block}}@@media (min-width:992px) and (max-width:1199px){.visible-md-inline{display:inline}}@@media (min-width:992px) and (max-width:1199px){.visible-md-inline-block{display:inline-block}}@@media (min-width:1200px){.visible-lg{display:block}table.visible-lg{display:table}tr.visible-lg{display:table-row}th.visible-lg,td.visible-lg{display:table-cell}}@@media (min-width:1200px){.visible-lg-block{display:block}}@@media (min-width:1200px){.visible-lg-inline{display:inline}}@@media (min-width:1200px){.visible-lg-inline-block{display:inline-block}}@@media (max-width:767px){.hidden-xs{display:none}}@@media (min-width:768px) and (max-width:991px){.hidden-sm{display:none}}@@media (min-width:992px) and (max-width:1199px){.hidden-md{display:none}}@@media (min-width:1200px){.hidden-lg{display:none}}.visible-print{display:none}@@media print{.visible-print{display:block}table.visible-print{display:table}tr.visible-print{display:table-row}th.visible-print,td.visible-print{display:table-cell}}.visible-print-block{display:none}@@media print{.visible-print-block{display:block}}.visible-print-inline{display:none}@@media print{.visible-print-inline{display:inline}}.visible-print-inline-block{display:none}@@media print{.visible-print-inline-block{display:inline-block}}@@media print{.hidden-print{display:none}}html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}html{box-sizing:border-box;-ms-overflow-style:scrollbar}*,*::before,*::after{box-sizing:inherit}.clearfix:after{visibility:hidden;display:block;font-size:0;content:"";clear:both;height:0}* html .clearfix,:first-child+html .clearfix{zoom:1}::-webkit-input-placeholder{opacity:1}::-moz-placeholder{opacity:1}:-ms-input-placeholder{opacity:1}:-moz-placeholder{opacity:1}input:focus,select:focus,textarea:focus,button:focus{outline:none}input{border-radius:0;-webkit-appearance:none}a{text-decoration:none;}a:hover,a:focus,a:active{text-decoration:none}.overflow-hidden{overflow:hidden}@@font-face{font-family:'icomoon';src:url("/Static/fe/assets/fonts/icomoon.eot?katvh");src:url("/Static/fe/assets/fonts/icomoon.eot?katvh#iefix") format('embedded-opentype'),url("/Static/fe/assets/fonts/icomoon.ttf?katvh") format('truetype'),url("/Static/fe/assets/fonts/icomoon.woff?katvh") format('woff'),url("/Static/fe/assets/fonts/icomoon.svg?katvh#icomoon") format('svg');font-weight:normal;font-style:normal}[class^="icon-"],[class*=" icon-"]{font-family:'icomoon';speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.icon-chevron-down:before{content:"\e902"}.icon-search:before{content:"\e901"}.icon-zoom:before{content:"\e900";color:#fff}.icon-whatsapp .path1:before{content:"\e904";color:#969696}.icon-whatsapp .path2:before{content:"\e905";margin-left:-1em;color:#fff}.icon-facebook:before{content:"\e906";color:#969696}.icon-twitter:before{content:"\e907";color:#969696}.icon-down:before{content:"\e908";color:#4a4a4a}.icon-chevron-left:before{content:"\f053"}.icon-chevron-right:before{content:"\f054"}.icon-instagram:before{content:"\ea92"}@@font-face{font-family:'Avenir';src:url("/Static/fe/assets/fonts/AvenirLTPro-Black.woff") format('woff');font-weight:700;font-style:normal}@@font-face{font-family:'Avenir';src:url("/Static/fe/assets/fonts/AvenirLTPro-Book.woff") format('woff');font-weight:400;font-style:normal}@@font-face{font-family:'Avenir';src:url("/Static/fe/assets/fonts/AvenirLTPro-Medium.woff") format('woff');font-weight:500;font-style:normal}@@font-face{font-family:'Avenir';src:url("/Static/fe/assets/fonts/AvenirLTPro-Light.woff") format('woff');font-weight:300;font-style:normal}@@font-face{font-family:'Avenir';src:url("/Static/fe/assets/fonts/AvenirLTPro-Heavy.woff") format('woff');font-weight:900;font-style:normal}.overflow-hidden{overflow:hidden}.links-header{background:#fff;padding:40px 0;margin-bottom:30px;text-align:center;border-bottom:1px solid #dfdfdf;}.links-header img{display:inline-block}.links-container{font-family:'Avenir';width:280px;margin:0 auto;}.links-container h4{font-weight:500;margin-bottom:25px}.links-container a{display:block;width:100%;padding:10px 0;color:#4a4a4a;background:#fff;border:1px solid #dfdfdf;font-weight:500;text-align:center;margin-bottom:20px;font-size:16px;transition:all .3s;}.links-container a:hover{border:1px solid #f99e26;color:#f99e26}body{font-family:Avenir,Arial;font-weight:400;font-size:20px;overflow-x:hidden;background:#fbfbfb;color:#3e3e3e}body {-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}h1,h2,h3,h4,h5,h6{display:block}h2{color:#3e3e3e;font-size:20px;font-weight:300;margin:0 0 12px 0}h3{color:#3e3e3e;font-size:14px;font-weight:500;letter-spacing:1.75px;margin:0 0 15px 0}h4{color:#f99e26;font-size:12px;font-weight:800;letter-spacing:1.17px;line-height:15px;margin-bottom:20px}h6{text-align:center;color:#969696;margin-bottom:10px;font-size:12px;font-weight:500}p{color:#3e3e3e;font-size:18px;line-height:24px;margin-bottom:20px;font-weight:500;media-max-xs()}.spot p{color:#939393;font-size:14px;line-height:18px;font-weight:300;media-max-xs()}.card-container > div{padding:0;}.card-container > div .card-item{border-left:0;border-right:0}.main-carousel__col{padding:0}.card-item{border:0 none;background:#fff;margin-bottom:15px;transition:all .3s;}.card-item:hover{box-shadow:0 0 25px rgba(0,0,0,0.1)}.card-item a{display:block}.card-item__image{position:relative;}.card-item__image img{display:block;width:100%}.card-item__title{margin-bottom:5px;}.card-item__title a{color:#3e3e3e;font-size:20px;font-weight:500;line-height:25px;letter-spacing:.3px}.card-item__description a{color:#3e3e3e;font-size:14px;font-weight:300}.card-item__category{position:absolute;bottom:15px;left:20px;}.card-item__category a{font-size:12px;font-weight:500;letter-spacing:.75px;text-transform:uppercase;color:#f99e26}.card-item__content{padding:20px 20px 50px 20px;border:1px solid #efeff4;border-top:1px solid #dfdfdf;position:relative}.card-item__video{display:inline-block;padding:0 13px;height:29px;line-height:32px;font-size:14px;font-weight:400;border-radius:100px;color:#fff;position:absolute;right:20px;top:20px}.video--orange{background:#f99e26}.video--blue{background:#00aeef}.video--green{background:#39b54a}.video--pink{background:#ec008c}footer{padding-top:40px}.fo-logo{display:inline-block;color:#4a4a4a;font-size:18px;font-weight:500;display:block;margin:0 auto;width:160px;text-align:center}.fo-buttons_title{width:100%;color:#4a4a4a;font-size:12px;margin-bottom:15px;font-weight:500}.fo-buttons{width:100%;text-align:center;margin-top:30px;}.fo-buttons a{display:inline-block}.fo-buttons__appstore{margin-right:10px}.copyright{width:100%;font-size:12px;color:#bdbdbd;font-weight:500;text-align:center;padding:40px 0 10px;}.copyright a{color:#39393a}.social-media{text-align:center;padding-top:25px;width:100%}.social-media__item{display:inline-block;margin-left:27px;}.social-media__item:first-child{margin-left:0}.social-media__item a{display:block;width:20px;height:20px;}.social-media__item a span:before{color:#4a4a4a;transition:all .3s}.social-media__item a:hover span:before{color:#f99e26}.social-media__item a:hover span.path2:before{color:#fff}header{background:rgba(255,255,255,0.8);width:100%;z-index:10;padding:0 20px;box-shadow:0 8px 10px rgba(0,0,0,0.09)}.logo{display:block;width:37px;height:34px;margin:12px 0;}.logo a{display:block;width:100%;height:100%;background-size:cover}.top-menu{width:100%;padding:15px 0 0 0;border-top:1px solid #dfdfdf;}.top-menu > ul{width:100%;text-align:center;overflow:auto;height:42px;white-space:nowrap;overflow-y:hidden}.top-menu__item{display:inline-block;margin-right:30px;}.top-menu__item a{display:block;color:#afafaf;font-size:16px;font-weight:900;transition:all .3s;position:relative;}.top-menu__item a:after{content:"";display:block;width:0;height:2px;background:#f99e26;transition:all .3s}.top-menu__item a:hover{color:#f99e26;}.top-menu__item a:hover:after{width:100%}.top-menu__item a:hover:before{color:#f99e26}.top-menu__item.active a{color:#f99e26;}.top-menu__item.active a:after{width:100%}.top-search__mobile-button{width:53px;height:45px;position:absolute;right:0;top:10px;z-index:1;}.top-search__mobile-button span{color:#4a4a4a;width:18px;height:21px;display:block;margin:0 auto;margin-top:11px}.newsletter-container{border-top:1px solid #dfdfdf;border-bottom:1px solid #dfdfdf;background-color:#fff;padding:30px 15px;margin-top:0;text-align:center;}.newsletter__holder{width:100%;max-width:574px;margin:0 auto;border-radius:100px;margin-top:24px;border:1px solid #dfdfdf;background-color:#fff;padding:3px;height:45px}.newsletter__button{float:right;border-radius:100px;background-color:#f99e26;color:#fff;cursor:pointer;border:0 none;font-weight:500;width:84px;font-size:12px;height:37px;line-height:37px}.newsletter__input{float:left;padding-left:15px;opacity:.5;color:#4a4a4a;border-radius:100px;border:0 none;background:#fff;float:left;width:190px;font-size:14px;height:37px;line-height:37px}.newsletter__icon{margin-bottom:30px;width:85px}.circ{opacity:0;stroke-dasharray:130;stroke-dashoffset:130;-webkit-transition:all 1s;-moz-transition:all 1s;-ms-transition:all 1s;-o-transition:all 1s;transition:all 1s}.tick{stroke-dasharray:50;stroke-dashoffset:50;-webkit-transition:stroke-dashoffset 1s .5s ease-out;-moz-transition:stroke-dashoffset 1s .5s ease-out;-ms-transition:stroke-dashoffset 1s .5s ease-out;-o-transition:stroke-dashoffset 1s .5s ease-out;transition:stroke-dashoffset 1s .5s ease-out}.drawn .path{opacity:1;stroke-dashoffset:0}#tick{width:83px}#newsletterMessage{opacity:0}.newsletter-success{display:none}.similiar-words__image{float:left;width:100%;height:auto;}.similiar-words__image img{border:1px solid #d8d8d8;width:100%;border-radius:5px}.similiar-words__title{float:left;height:72px;width:100%;padding-top:13px;}.similiar-words__title a{color:#3e3e3e;font-size:16px;font-weight:300;line-height:22px;display:inline-block;transition:all .3s;letter-spacing:-.4px;}.similiar-words__title a:hover{color:#f99e26}.similiar-words__item{width:calc(50% - 20px);float:left;margin:0 10px;margin-bottom:20px;height:265px}.tag-list{width:100%;}.tag-list a{border-radius:100px;display:inline-block;padding:0 20px;height:33px;line-height:33px;color:#969696;font-size:12px;font-weight:300;border:1px solid #969696;transition:all .3s;margin-right:10px;margin-bottom:10px;}.tag-list a:hover{border:1px solid #f99e26;color:#f99e26}.tags,.content-share{margin-bottom:20px;}.tags h3,.content-share h3{font-weight:300;display:none}.content-share{border-top:1px solid #efeff4;border-bottom:1px solid #efeff4;background-color:#fff;margin:0 -15px 20px}.content-share__holder{text-align:center;padding:15px 0}.content-share__item{display:inline-block;padding:0 20px;position:relative;}.content-share__item:first-child{margin-left:0;}.content-share__item:first-child:before{content:'';background:#dfdfdf;width:1px;height:20px;position:absolute;right:0;top:5px;display:block}.content-share__item:last-child:before{content:'';background:#dfdfdf;width:1px;height:20px;position:absolute;left:0;top:5px;display:block}.content-share__item a{display:block;height:25px;}.content-share__item a span:before{color:#969696;transition:all .3s}.content-share__item a:hover span:before{color:#f99e26}.content-share__item a:hover span.path2:before{color:#fff}.load-more{width:152px;height:36px;line-height:36px;font-size:12px;display:block;margin:0 auto;border:1px solid #f99e26;color:#f99e26;border-radius:36px;padding-left:45px;margin-bottom:15px;position:relative;}.load-more span{position:absolute;left:20px;top:12px}#card-carousel{margin-bottom:39px;}#card-carousel .card-item__content{height:69px;padding:15px 10px;border:1px solid #f2f2f2}#card-carousel .card-item__category{left:10px}#card-carousel .card-item{width:340px;margin-bottom:0;border:0 none;height:288px;}#card-carousel .card-item a{margin-bottom:-20px}.mobile-title{margin-top:30px}.listicle-container{padding-top:30px}.listicle__item{padding-bottom:72px;}.listicle__item h4{color:#3e3e3e;font-size:20px;font-weight:500;position:relative;padding-left:19px;margin-bottom:20px;line-height:28px;letter-spacing:-.3px;}.listicle__item h4:before{content:'';width:9px;height:19px;background-image:linear-gradient(133deg,#f3bb70 0%,#f99e26 100%);display:block;position:absolute;left:0;top:5px}.listicle__image{width:100%;display:block;margin-bottom:20px}.photo-gallery__item{width:100%;position:relative;margin-bottom:30px;overflow:hidden;border-radius:3px;cursor:pointer;}.photo-gallery__item img{width:100%}.photo-gallery__item:hover .photo-gallery-mask{opacity:1}.photo-gallery-mask{width:50px;height:50px;right:0;top:0;opacity:1;transition:.3s;border-radius:0;display:none;position:absolute;padding-top:11px;background-color:rgba(0,0,0,0.5);}.photo-gallery-mask span{font-size:30px;margin:0 0 0 11px}.gallery-carousel__item{position:relative;width:calc(100% + 1px);}.gallery-carousel__item h5{position:absolute;left:20px;right:20px;bottom:45px;color:#fff;font-weight:500;font-size:14px;line-height:18px}.gallery__row{margin-top:-20px}#gallery-carousel{margin-bottom:30px}.shop-content__item{padding-bottom:25px;padding-top:32px;}.shop-content__item h4{color:#3e3e3e;font-size:20px;font-weight:500;position:relative;padding-left:19px;margin-bottom:20px;line-height:28px;letter-spacing:-.3px;}.shop-content__item h4:before{content:'';width:9px;height:19px;background-image:linear-gradient(133deg,#f3bb70 0%,#f99e26 100%);display:block;position:absolute;left:0;top:5px}.shop-content__item p{margin-bottom:15px;font-size:20px}.shop-content__image{width:100%;display:block;margin-bottom:20px}.shop-content__holder{position:relative;width:100%}.shop-content__price{color:#f99e26;font-size:16px;font-weight:500}.shop-content__firm{color:#939393;font-size:16px;font-weight:400}.shop-content__button{width:112px;height:32px;line-height:34px;font-weight:500;border-radius:100px;background-color:#f7a334;display:block;position:absolute;right:0;top:10px;color:#fff;text-align:center;font-size:14px;font-weight:500}.page-image{text-align:center;position:relative;padding-top:20px;margin-bottom:20px;z-index:99999;}.page-image img{display:inline-block;width:100%}.return-home-icon{padding-left:37px;color:#969696;font-size:18px;font-weight:300;background:url("/Static/fe/assets/img/return-home-icon.png") left center no-repeat;height:25px;line-height:25px;margin:50px 0 50px 0;display:block}.page-image__text-holder{text-align:center;z-index:1;position:relative;box-shadow:0 8px 10px rgba(0,0,0,0.09);}.page-image__text-holder .row > div{padding:0}.page-image__text-holder h1{color:#3e3e3e;font-size:22px;line-height:30px;font-weight:500;margin-bottom:10px;display:block}.page-image__text-holder .spot p{margin-bottom:10px}.text-holder--video{bottom:85px}.content__holder{padding-left:20px;padding-right:20px;}.content__holder p{font-family:serif;font-weight:normal}.content__holder .sub-title p{font-family:serif;font-size:19px;line-height:28px;color:#3e3e3e}.spot p{font-family:Avenir,Arial;font-weight:500}.sidebar_holder h2{margin-bottom:18px}.credit{margin-bottom:25px;}.credit .date{color:#969696;font-size:12px;font-weight:500;margin-bottom:5px}.credit blockquote{color:#bdbdbd;font-style:italic;font-size:12px;font-weight:500}.video-plugin{width:100%;height:260px;margin-bottom:30px}.video-image-holder{position:relative}.video--control{width:100%;height:auto;overflow:hidden}.play-button{width:100%;height:100%;margin:0;padding:0;border:0;top:0;left:0;background:url("/Static/fe/assets/img/video-play.png") center center no-repeat;display:block;position:absolute;z-index:1;background-size:10%}.read-more-module{width:calc(100% + 40px);margin-top:-286px;margin-left:-20px;display:block;position:relative;z-index:1;box-shadow:0 8px 10px rgba(0,0,0,0.09);margin-bottom:30px;}.read-more-module img{width:100%;height:auto;display:block}.read-more-module__button{width:130px;height:33px;line-height:33px;border-radius:100px;border:1px solid #dfdfdf;color:#969696;font-size:14px;font-weight:500;display:block;position:absolute;bottom:20px;left:50%;margin-left:-65px;text-align:center}.special-content{padding-top:25px;}.special-content > .container:last-child .shop-content__item{padding-bottom:20px}.special-content__title{text-align:center;padding-bottom:15px;}.special-content__title h1{color:#4a4a4a;font-size:22px;font-weight:900;margin-bottom:10px;line-height:30px}.special-content__title p{color:#4a4a4a;font-weight:500;font-size:14px;line-height:18px}.special-bg--1{background-image:url("/Static/fe/assets/img/special-image-1.jpg")}.special-bg--2{background-image:url("/Static/fe/assets/img/special-image-2.jpg")}.special-bg--3{background-image:url("/Static/fe/assets/img/special-image-3.jpg")}.special-bg--4{background-image:url("/Static/fe/assets/img/special-image-4.jpg")}.specia-image{position:relative;text-align:center;background-attachment:fixed;background-position:center;background-repeat:no-repeat;background-size:cover;}.specia-image img{display:inline-block;width:100%;max-width:1440px}.specia-image__holder{position:absolute;left:0;text-align:left;text-shadow:0 2px 4px rgba(0,0,0,0.5);color:#fff;font-weight:500;bottom:-3px;font-size:60px}.special-product__title{padding-top:30px;}.special-product__title h2{color:#4a4a4a;font-weight:900;margin-bottom:0;font-size:24px;line-height:38px}.special-product__title h3{color:#4a4a4a;font-weight:500;margin-bottom:10px;font-size:18px}.special-product__title .spot{border-bottom:1px solid #eaeaea;margin-bottom:0;padding-bottom:24px;}.special-product__title .spot p{margin-bottom:0;line-height:22px}.special-content .shop-content__item{padding-top:21px;padding-bottom:93px;}.special-content .shop-content__item h4{font-size:18px;font-weight:800;padding-left:16px;line-height:28px;margin-bottom:12px;}.special-content .shop-content__item h4:before{width:7px;height:14px;top:6px}.special-content .shop-content__item p{font-size:18px;margin-bottom:11px}.special-content .shop-content__image{margin-bottom:10px}.special-content .shop-content__price,.special-content .shop-content__firm{font-size:18px}.special-content .shop-content__button{width:131px;height:38px;line-height:40px;font-size:11px;top:6px;border-radius:75px}.wide-content > .container{padding:0}.result{padding:10px 20px 15px 20px;font-size:20px;font-weight:300;color:#3e3e3e;text-align:center;padding-top:20px;}.result span{color:#f99e26}.result-mobile{padding:10px 20px 15px 20px;width:100%;background:#fff;position:relative;}.result-mobile input{border:0 none;border-bottom:2px solid #fdcf93;width:100%;color:#393d3e;font-size:16px;font-weight:300;height:44px;border-radius:0}.result-mobile .clear-input{display:block;width:22px;height:22px;position:absolute;right:20px;border-radius:0;top:15px}.result-container .card-container{margin:0}/*# sourceMappingURL=hb-amp.css.map */</style>
    <script async="" custom-element="amp-carousel" src="https://cdn.ampproject.org/v0/amp-carousel-0.1.js"></script>
    <script async="" custom-element="amp-fit-text" src="https://cdn.ampproject.org/v0/amp-fit-text-0.1.js"></script>
    <script async="" custom-element="amp-selector" src="https://cdn.ampproject.org/v0/amp-selector-0.1.js"></script>
    <script async="" custom-element="amp-bind" src="https://cdn.ampproject.org/v0/amp-bind-0.1.js"></script>
    <script async="" custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
      <script async="" custom-element="amp-vimeo" src="https://cdn.ampproject.org/v0/amp-vimeo-0.1.js"></script>
      <!-- start Mixpanel -->
      <script type="text/javascript">(function(e,a){if(!a.__SV){var b=window;try{var c,l,i,j=b.location,g=j.hash;c=function(a,b)
            {return(l=a.match(RegExp(b+"=([^&]*)")))?l[1]:null}
        ;g&&c(g,"state")&&(i=JSON.parse(decodeURIComponent(c(g,"state"))),"mpeditor"===i.action&&(b.sessionStorage.setItem("_mpcehash",g),history.replaceState(i.desiredHash||"",e.title,j.pathname+j.search)))}catch(m){}var k,h;window.mixpanel=a;a._i=[];a.init=function(b,c,f){function e(b,a){var c=a.split(".");2==c.length&&(b=b[c[0]],a=c[1]);b[a]=function(){b.push([a].concat(Array.prototype.slice.call(arguments,
            0)))}}var d=a;"undefined"!==typeof f?d=a[f]=[]:f="mixpanel";d.people=d.people||[];d.toString=function(b)
                {var a="mixpanel";"mixpanel"!==f&&(a+="."+f);b||(a+=" (stub)");return a}
            ;d.people.toString=function()
                {return d.toString(1)+".people (stub)"}
            ;k="disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config reset people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
        for(h=0;h<k.length;h++)e(d,k[h]);a.i.push([b,c,f])};a._SV=1.2;b=e.createElement("script");b.type="text/javascript";b.async=Unable to render embedded object: File (0;b.src="undefined") not found.==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"file:"===e.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";c=e.getElementsByTagName("script")[0];c.parentNode.insertBefore(b,c)}})(document,window.mixpanel||[]);
    mixpanel.init("81b83344bc6da7d44e9b284be6b872fc");</script><!-- end Mixpanel -->
  </head>
<body>
@Html.Raw(viewModel.Setting.GaCode)
@Html.Raw(viewModel.Setting.FpCode)
<header class="clearfix">
    <!-- Logo-->
    <div class="logo"><a href="#">
            <amp-img src="/Static/fe/assets/img/logo-hopi.png" width="68" height="63" layout="responsive"></amp-img></a>
    </div>
    <!-- Top Search-->
    <a class="top-search__mobile-button" href="@Url.RouteUrl("Search")"><span class="icon-search"></span></a>
    <!-- Top Menu-->
    <div class="top-menu">
        <ul class="clearfix">
            <li class="top-menu__item @if (ViewData["MenuElement"].ToString() == "")
                                      {
                                          Html.Raw("active");
                                      }">
                <a href="/">ANASAYFA</a>
            </li>
            @foreach (var topCategory in viewModel.TopCategories)
            {
                if (ViewData["MenuElement"].ToString() == topCategory.CatSlug)
                {
                    <li class="top-menu__item active">
                        <a href="@Url.RouteUrl("ShowCategoryContent", new {slug = topCategory.CatSlug})">@topCategory.CatName</a>
                    </li>
                }
                else
                {
                    <li class="top-menu__item">
                        <a href="@Url.RouteUrl("ShowCategoryContent", new {slug = topCategory.CatSlug})">@topCategory.CatName</a>
                    </li>
                }
            }
        </ul>
    </div>
</header>
<!-- Header ends here-->
@RenderBody()
<!-- Newsletter module starts here-->
<div class="newsletter-container newsletter-form">
    <h2>Hopi Blog her hafta posta kutuna gelsin</h2>
    <div class="newsletter__holder clearfix">
        <form class="p2" method="post" action-xhr="/components/amp-form/submit-form-input-text-xhr" target="_top">
            <div class="ampstart-input inline-block relative m0 p0 mb3">
                <input class="newsletter__input block border-none p0 m0" type="email" name="email" placeholder="örnek@gmail.com" required="">
            </div>
            <input class="newsletter__button ampstart-btn caps" type="submit" value="Abone Ol">
            <div submit-success="">Teşekkürler</div>
            <div submit-error="">Bir Hata Oluştu</div>
        </form>
    </div>
</div>
<!-- Footer starts here-->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <!-- footer logo--><a class="fo-logo" href="#">
                    <amp-img src="/Static/fe/assets/img/logo-hopi.png" width="68" height="63"></amp-img>Hopi.com.tr’ye git</a>
            </div>
            <div class="col-sm-6">
                <!-- mobile app buttons-->
                <div class="fo-buttons">
                    <div class="fo-buttons_title">ÜCRETSİZ İNDİRMEK İÇİN</div><a class="fo-buttons__appstore" href="#">
                        <amp-img src="/Static/fe/assets/img/app-store.png" width="138" height="40"></amp-img></a><a class="fo-buttons__googleplay" href="#">
                        <amp-img src="/Static/fe/assets/img/googleplay.png" width="138" height="40"></amp-img></a>
                </div>
            </div>
            <div class="col-sm-3">
                <!-- social media buttons-->
                <ul class="social-media clearfix">
                    <li class="social-media__item"><a href="#"><span class="icon-facebook"></span></a></li>
                    <li class="social-media__item"><a href="#"><span class="icon-twitter"></span></a></li>
                    <li class="social-media__item"><a href="#"><span class="icon-instagram"></span></a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <!-- copyright-->
                <div class="copyright">2015 Tüm hakları BNR Teknoloji A.Ş.’de saklıdır. Bilgi Toplumu Hizmetleri için <a href="#">tıklayın.</a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer ends here-->
</body>
</html>