﻿@using System.Globalization
@using HopiAmp.Helpers
@model HopiAmp.ViewModels.Site.SitePostViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Model.Post.HtmlTitle;
    var url = Utilities.AppSetting("CDNPath");
    var culture = new CultureInfo("tr-TR");
}
@section Meta {
    <meta name="description" content="@Model.Post.HtmlMetaDesc">
    @if (Model.Post.NoFollow == 1)
    {
        <meta name="robots" content="NOINDEX, NOFOLLOW">
    }
}
@section Social
{
    @{ Html.RenderPartial("Partial/Social", Model.Post); }
}

<!-- Page image content starts here. Requires:  1920x... image.-->
    <div class="page-image">
      <div class="container page-image__text-holder">
        <h1>@Model.Post.PostTitle</h1>
        <!-- Spot text and category for Mobile-->
        <div class="visible-xs visible-sm">
          <div class="spot">
              <p>@Model.Post.PostShortDescription</p>
          </div>
            <h4>@Model.CategoryName</h4>
        </div>
      </div>
      <div class="visible-md visible-lg"><img src="@url@Model.Post.MainImage" alt="@Model.Post.ImageAltText"/>
        <!-- This image shown only desktop. In Mobile Gallery Carousel takes it place-->
      </div>
    </div>
    <div class="content-container">
      <div class="container">
        <div class="row">
          <section class="col-md-8 content__holder">
            <!-- Spot text for only desktop-->
            <div class="spot visible-md visible-lg">
                <p>@Model.Post.PostShortDescription</p>
            </div>
            <div class="row gallery__row">
              <!-- Gallery Carousel starts here-->
                <div class="owl-carousel" id="gallery-carousel">
                    @foreach (var content in Model.PostImages)
                    {
                        <article class="gallery-carousel__item"><a class="photo-gallery-mask" href="@url@content.Image" title="@content.ImageAltText" rel="gallery"><span class="icon-zoom"></span></a>
                            <div class="visible-md visible-lg"><img src="@url@content.SliderImage" alt="@content.ImageAltText">
                            </div>
                            <div class="visible-xs visible-sm"><img src="@url@content.MobileImage" alt="@content.ImageAltText">
                            </div>
                            <h5>@Html.Raw(content.SlideText)</h5>
                        </article>   
                    }
                </div>
            </div>
            <!-- Gallery Carousel ends here-->
            <!-- This sub title shown only Mobile, if you want to shown on desktop too please remove visible classes.-->
            <div class="sub-title visible-xs visible-sm">
                <p>@Model.Post.PostShortDescription</p>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <div class="credit">
                  <div class="date">@Model.Post.CreatedDate.ToString("dd MMMM yyyy", culture)</div>
                    @if (!string.IsNullOrEmpty(Model.Post.Credit))
                    {
                        <blockquote>Credit: @Model.Post.Credit</blockquote>
                    }
                </div>
              </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="tags">
                        <h3>ETİKETLER</h3>
                        <div class="tag-list">
                            @foreach (var tag in Model.Tags)
                            {
                                <a href="@Url.RouteUrl("ShowTagContent", new {slug = tag.TagSlug})">@tag.TagName</a>
                            }

                        </div>
                    </div>
                </div>
              <div class="col-md-4"> 
                <div class="visible-xs">
                  <!-- a.return-home-icon(href="#") Anasayfa Dön-->
                  <h6>Bu içeriği paylaş</h6>
                </div>
                <div class="content-share">
                  <h3>YAZIYI PAYLAŞ</h3>
                  <ul class="content-share__holder clearfix">
                    <li class="content-share__item"><a href="#" onclick="project.twitterShare()"><span class="icon-twitter"></span></a></li>
                    <li class="content-share__item"><a href="#" onclick="project.facebookShare()"><span class="icon-facebook"></span></a></li>
                    <li class="content-share__item"><a href="whatsapp://send?text=@Url.Encode(Request.Url.AbsoluteUri)" data-action="share/whatsapp/share"><span class="icon-whatsapp"><span class="path1"></span><span class="path2"></span></span></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </section>
          <!-- Sidebar starts from here-->
          <aside class="col-md-3 sidebar_holder">
            <h2>Benzer Yazılar</h2>
            <!-- Similiar words module-->
              <div class="similiar-words clearfix">
                  @foreach (var related in Model.RelatedPosts)
                  {
                      <!-- Similiar words item-->
                      <div class="similiar-words__item clearfix">
                          <div class="similiar-words__image">
                              <a href="@Url.RouteUrl("ShowPlainAndSpecialContent", new {slug = related.PostSlug})">
                                  <img src="@url@related.ThumbImage" alt="@related.ImageAltText">
                              </a>
                          </div>
                          <div class="similiar-words__title">
                              <a href="@Url.RouteUrl("ShowPlainAndSpecialContent", new {slug = related.PostSlug})">@related.PostTitle</a>
                          </div>
                      </div>
                  }
              </div>
          </aside>
          <!-- Sidebar ends here-->
        </div>
      </div>
    </div>