﻿@using HopiAmp.Helpers
@model HopiAmp.ViewModels.Site.HomePageViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Hopi Blog";
    var url = Utilities.AppSetting("CDNPath");
}
@section Meta {
    <meta name="description" content="Hopi Blog">
}
<!-- Header ends here-->
<!-- Card Carousel starts here-->
<div class="visible-xs visible-sm">
    <div class="container">
        <h2 class="mobile-title">En Çok Okunanlar</h2>
        <div class="card-container">
            <div class="owl-carousel" id="card-carousel">
                @foreach (dynamic mostRead in Model.MostRead)
                {
                    var link = Html.SetUrl((byte)mostRead.PostType, (string)mostRead.PostSlug, (string) mostRead.CatSlug);
                    <article class="card-item">
                        <a class="card-item__image" href="@link">
                            <img src="@url@mostRead.MobileImage" alt="@mostRead.PostTitle">
                        </a>
                        <div class="card-item__content">
                            <h4 class="card-item__title">
                                <a href="@link">@mostRead.PostTitle</a>
                            </h4>
                            <span class="card-item__category">
                                <a href="@link">@mostRead.CatName</a>
                            </span>
                        </div>
                    </article>
                }
            </div>
        </div>
    </div>
</div>
<div class="container card-container__holder">
    <h2>Son Eklenenler</h2>
    <!-- Card component starts here-->
    <div class="card-container row">
        <!-- Card item-->
        @foreach (var latest in Model.LatestPosts)
        {
            var link = Html.SetUrl(latest.PostType, latest.PostSlug, latest.CatSlug);
            <div class="col-sm-6 col-md-4">
                <article class="card-item">
                    <a class="card-item__image" href="@link">
                        <img src="@url@latest.MobileImage" alt="@latest.PostTitle">
                        @if (latest.PostType == 2){<span class="card-item__video video--orange">Video</span>}
                    </a>
                    <div class="card-item__content">
                        <h4 class="card-item__title">
                            <a href="@link">@latest.PostTitle</a>
                        </h4>
                        <div class="card-item__description">
                            <a href="@link">@latest.PostShortDescription</a>
                        </div><span class="card-item__category">
                            <a href="@link"></a>
                        </span>
                    </div>
                </article>
            </div>
        }
    </div>
    <!--<a class="load-more" href="javascript:;">DAHA FAZLA</a>-->
</div>
