﻿@using System.Globalization
@using HopiAmp.Helpers
@model HopiAmp.ViewModels.Site.ContentListViewModel

@{
    Layout = "~/Views/Shared/_AmpLayout.cshtml";
    ViewBag.Title = Model.Tag != null ? Model.Tag + " etiketli yazılar " : Model.Category.ToLower(new CultureInfo("tr-TR", false)) + " kategorili yazılar ";
    var url = Utilities.AppSetting("CDNPath");
}
@section Meta {
    
    @if (Model.Tag != null)
    {
        <meta name="description" content="@Model.Tag etiketli yazılar listeleniyor.">  
    }
    else
    {
        <meta name="description" content="@Model.Category kategorili yazılar listeleniyor.">
    }
}
<div class="wide-content">
      <div class="container">
          <!-- Result text-->
      @if (Model.Post.Any())
      {
          if (Model.Tag != null)
           {
               <div class="result">“<span>@Model.Tag</span>” etiketli yazılar listeleniyor.
               </div>
           }
           else
           {
               <div class="result">“<span>@Model.Category</span>” kategorili yazılar listeleniyor.
               </div>
           }


          <div class="result-container">
              <div class="card-container row">
                  <!-- Card item-->
                  @foreach (dynamic content in Model.Post)
                  {
                      var link = Html.SetUrl((byte) content.PostType, (string) content.PostSlug, (string)content.CatSlug);

                      <div class="col-sm-6 col-md-4">
                          <div class="card-item">
                              <a class="card-item__image" href="@link">
                                  <amp-img src="@url@content.MobileImage" width="370" height="202" layout="responsive"></amp-img>
                                  @if (content.PostType == 2)
                                  {
                                      <span class="card-item__video video--orange">Video</span>
                                  }
                              </a>
                              <div class="card-item__content">
                                  <h4 class="card-item__title"><a href="@link">@content.PostTitle</a></h4>
                                  <div class="card-item__description"><a href="@link">@content.PostShortDescription</a>
                                  </div><span class="card-item__category"> <a href="@link">@content.CatName</a></span>
                              </div>
                          </div>
                      </div>
                  }
              </div>
              @if (Model.Count > 8)
              {
                  <a class="load-more" href="javascript:;">DAHA FAZLA</a>
              }
          </div>
      }
      else
      {
          <div class="result">“<span>@ViewBag.Word</span>” ile ilgili hiçbir içerik bulunamadı!
          </div>
      }
      </div>
    </div>
