﻿@using System.Globalization
@using HopiAmp.Helpers
@model IEnumerable<object>

@{
    Layout = "~/Views/Shared/_AmpLayout.cshtml";
    ViewBag.Title = ViewBag.Word.ToLower(new CultureInfo("tr-TR", false)) + " için arama sonuçları";
    var url = Utilities.AppSetting("CDNPath");
}

@if (!string.IsNullOrEmpty((string) ViewBag.Word))
{
@section Meta {
    <meta name="description" content="@ViewBag.Word için arama sonuçları gösteriliyor">
}}

<div class="wide-content">
    <div class="container">
        <!-- Result text-->
        <div class="result-mobile">
            <form action="@Url.RouteUrl("Search")">
                <input class="result-mobile__input" type="text" name="kelime" value="@ViewBag.Word.ToLower(new CultureInfo("tr-TR", false))" placeholder="Hopi Blog’da ara">
                <a class="clear-input" href="#">
                    <amp-img src="~/Static/fe/assets/img/icons-exit.png" width="20" height="20"></amp-img>
                </a>
            </form>
          
        </div>
        @if (!string.IsNullOrEmpty((string) ViewBag.Word))
        {
             if (Model.Any())
             {
                
                 <div class="result-container">
                     <div class="card-container row">
                         <!-- Card item-->
                         @foreach (dynamic content in Model)
                         {
                             var link = Html.SetUrl((byte) content.PostType, (string) content.PostSlug, (string) content.CatSlug);
                             <div class="col-xs-12">
                                 <div class="card-item">
                                     <a class="card-item__image" href="@link">
                                         <amp-img src="@url@content.MobileImage" width="370" height="202" layout="responsive"></amp-img>
                                         @if (content.PostType == 2)
                                         {
                                             <span class="card-item__video video--orange">Video</span>
                                         }
                                     </a>
                                     <div class="card-item__content">
                                         <h4 class="card-item__title">
                                             <a href="@link">@content.PostTitle</a>
                                         </h4>
                                         <div class="card-item__description">
                                             <a href="@link">@content.PostShortDescription</a>
                                         </div>
                                         <span class="card-item__category">
                                             <a href="@link">@content.CatName</a>
                                         </span>
                                     </div>
                                 </div>
                             </div>
                         }
                     </div>
                 </div>
             }
             else
             {
                 <div class="result">
                     “<span>@ViewBag.Word.ToLower(new CultureInfo("tr-TR", false))</span>” ile ilgili hiçbir içerik bulunamadı!
                 </div>
             }
        }
        else
        {
            <div class="result">Arama yapmak için bir kelime giriniz!</div>
        }
    </div>
</div>
