﻿@using System.Globalization
@using HopiAmp.Helpers
@model HopiAmp.ViewModels.Site.ListDetailViewsModel

@{
    Layout = "~/Views/Shared/_AmpLayout.cshtml";
    ViewBag.Title = Model.Post.HtmlTitle;
    var url = Utilities.AppSetting("CDNPath");
    var culture = new CultureInfo("tr-TR");
}
@section Meta {
    <meta name="description" content="@Model.Post.HtmlMetaDesc">
    @if (Model.Post.NoFollow == 1)
    {
        <meta name="robots" content="NOINDEX, NOFOLLOW">
    }
}
@section Social
{
    @{ Html.RenderPartial("Partial/Social", Model.Post); }
}

<!-- Page image content starts here. Requires:  1920x... image.-->
    <div class="page-image">
      <div class="container page-image__text-holder">
          <h1>@Model.Post.PostTitle</h1>
        <!-- Spot text and category for Mobile-->
        
          <div class="spot">
              <p>@Model.Post.PostShortDescription</p>
          </div>
            <h4>@Model.CategoryName</h4>
          <div class="row">
              <amp-img src="@url@Model.Post.MobileImage" width="375" height="260" layout="responsive"></amp-img>
          </div>
      </div>
    </div>
    <div class="content-container">
      <div class="container">
        <div class="row">
          <section class="col-xs-12 content__holder">
            <div class="sub-title">
                <p>@Model.Post.PostShortDescription</p>
            </div>
            <!-- Listicle starts here-->
              <div class="shop-content-container">
                  @foreach (var list in Model.ListElements)
                  {
                      <!-- Listicle item-->
                      <article class="shop-content__item">
                          <h4>@list.ListTitle</h4>
                          <amp-img class="shop-content__image" src="@url@list.ListImage" width="632" height="453" layout="responsive"></amp-img>
                          <p>@Html.Raw(list.ListDescription)</p>
                          <div class="shop-content__holder">
                              <div class="shop-content__price">@list.Price</div>
                              <div class="shop-content__firm">@list.WhereToSell</div>
                              <a class="shop-content__button ripple-o" target="_blank" @if(list.NoFollow == 0) { @Html.Raw("rel='nofollow'") }  href="@list.TargetLink">SATIN AL</a>
                          </div>
                      </article>
                  }
              </div>
            <!-- Listicle ends here-->
            <div class="row">
              <div class="col-xs-12">
                <div class="credit">
                    <div class="date">@Model.Post.CreatedDate.ToString("dd MMMM yyyy", culture)</div>
                    @if (!string.IsNullOrEmpty(Model.Post.Credit))
                    {
                        <blockquote>Credit: @Model.Post.Credit</blockquote>
                    }
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8">
                <div class="tags">
                  <h3>ETİKETLER</h3>
                    <div class="tag-list">
                        @foreach (var tag in Model.Tags)
                        {
                            <a href="@Url.RouteUrl("ShowTagContent", new {slug = tag.TagSlug})">@tag.TagName</a>
                        }

                    </div>
                </div>
              </div>
              <div class="col-md-4"> 
                <div class="visible-xs">
                  <!-- a.return-home-icon(href="#") Anasayfa Dön-->
                  <h6>Bu içeriği paylaş</h6>
                </div>
                <div class="content-share">
                  <h3>YAZIYI PAYLAŞ</h3>
                  <ul class="content-share__holder clearfix">
                    <li class="content-share__item"><a href="#" onclick="project.twitterShare()"><span class="icon-twitter"></span></a></li>
                    <li class="content-share__item"><a href="#" onclick="project.facebookShare()"><span class="icon-facebook"></span></a></li>
                    <li class="content-share__item"><a href="whatsapp://send?text=&lt;&lt;BURAYA ENCODED EDİLMİŞ URL GELECEK&gt;&gt;" data-action="share/whatsapp/share"><span class="icon-whatsapp"><span class="path1"></span><span class="path2"></span></span></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </section>
          <!-- Sidebar starts from here-->
          <aside class="col-md-3 sidebar_holder">
                <h2>Benzer Yazılar</h2>
                <!-- Similiar words module-->
              <div class="similiar-words clearfix">
                  @foreach (var related in Model.RelatedPosts)
                  {
                      <!-- Similiar words item-->
                      <div class="similiar-words__item clearfix">
                          <div class="similiar-words__image">
                              <a href="@Url.RouteUrl("ShowPlainAndSpecialContent", new {slug = related.PostSlug})">
                                  <amp-img src="@url@related.ThumbImage" width="153" height="153" layout="responsive"></amp-img>
                              </a>
                          </div>
                          <div class="similiar-words__title">
                              <a href="@Url.RouteUrl("ShowPlainAndSpecialContent", new {slug = related.PostSlug})">@related.PostTitle</a>
                          </div>
                      </div>
                  }
              </div>
            </aside>
          <!-- Sidebar ends here-->
        </div>
      </div>
      </div>

