﻿@using System.Globalization
@using HopiAmp.Helpers
@model HopiAmp.ViewModels.Site.SitePostViewModel

@{
    Layout = "~/Views/Shared/_AmpLayout.cshtml";
    ViewBag.Title = Model.Post.PostTitle;
    var url = Utilities.AppSetting("CDNPath");
    var culture = new CultureInfo("tr-TR");
}
@section Meta {
    <meta name="description" content="@Model.Post.HtmlMetaDesc">
    @if (Model.Post.NoFollow == 1)
    {
        <meta name="robots" content="NOINDEX, NOFOLLOW">
    }
}
@section Social
{
    @{ Html.RenderPartial("Partial/Social", Model.Post); }
}

<!-- Page image content starts here. Requires: 1920x... image.-->
<div class="page-image video--control">
    <div class="container page-image__text-holder">
        <h1>@Model.Post.PostTitle</h1>
        <!-- Spot text and category for Mobile-->

        <div class="spot">
            <p>@Model.Post.PostShortDescription</p>
        </div>
        <h4>@Model.CategoryName</h4>
    </div>

    <div class="video-image-holder">
        <!-- Video Play Button: Vimeo iframe embed. rel attr takes video url-->
        <amp-vimeo data-videoid="@Model.Post.VideoId" layout="responsive" width="375" height="260"></amp-vimeo>
    </div>
</div>
<div class="content-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 content__holder">
                <!-- Spot text for desktop-->
                <div class="spot visible-md visible-lg">
                    <p>@Model.Post.PostShortDescription</p>
                </div>
                @Html.Raw(Model.Post.PostContent)
                <div class="row">
                    <div class="col-xs-12">
                        <div class="credit">
                            <div class="date">@Model.Post.CreatedDate.ToString("dd MMMM yyyy", culture)</div>
                            @if (!string.IsNullOrEmpty(Model.Post.Credit))
                            {
                                <blockquote>Credit: @Model.Post.Credit</blockquote>
                            }
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="tags">
                            <h3>ETİKETLER</h3>
                            <div class="tag-list">
                                @foreach (var tag in Model.Tags)
                                {
                                    <a href="/etiket/@tag.TagSlug">@tag.TagName</a>
                                }

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="visible-xs">
                            <!-- a.return-home-icon(href="#") Anasayfa Dön-->
                            <h6>Bu içeriği paylaş</h6>
                        </div>
                        <div class="content-share">
                            <h3>YAZIYI PAYLAŞ</h3>
                            <ul class="content-share__holder clearfix">
                                <li class="content-share__item">
                                    <a href="#" onclick="project.twitterShare()">
                                        <span class="icon-twitter"></span>
                                    </a>
                                </li>
                                <li class="content-share__item">
                                    <a href="#" onclick="project.facebookShare()">
                                        <span class="icon-facebook"></span>
                                    </a>
                                </li>
                                <li class="content-share__item">
                                    <a href="whatsapp://send?text=&lt;&lt;BURAYA ENCODED EDİLMİŞ URL GELECEK&gt;&gt;" data-action="share/whatsapp/share">
                                        <span class="icon-whatsapp">
                                            <span class="path1"></span><span class="path2"></span>
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Sidebar starts from here-->
            <aside class="col-md-3 sidebar_holder">
                <h2>Benzer Yazılar</h2>
                <!-- Similiar words module-->
                <div class="similiar-words clearfix">
                    @foreach (var related in Model.RelatedPosts)
                    {
                        <!-- Similiar words item-->
                        <div class="similiar-words__item clearfix">
                            <div class="similiar-words__image">
                                <a href="@Url.RouteUrl("ShowPlainAndSpecialContent", new {slug = related.PostSlug})">
                                    <amp-img src="@url@related.ThumbImage" width="153" height="153" layout="responsive"></amp-img>
                                </a>
                            </div>
                            <div class="similiar-words__title">
                                <a href="@Url.RouteUrl("ShowPlainAndSpecialContent", new {slug = related.PostSlug})">@related.PostTitle</a>
                            </div>
                        </div>
                    }
                </div>
            </aside>
            <!-- Sidebar ends here-->
        </div>
    </div>
</div>
