@using MvcPaging
@model PaginationModel
<div class="dataTables_paginate paging_simple_numbers">
    <ul class="pagination">
        @foreach (var link in Model.PaginationLinks)
        {
            @BuildLink(link)
        }
    </ul>
</div>

@helper BuildLink(PaginationLink link)
{
    var liBuilder = new TagBuilder("li");
    if (link.IsCurrent)
    {
        liBuilder.MergeAttribute("class", "paginate_button active");
    }
    if (! link.Active)
    {
        liBuilder.MergeAttribute("class", "paginate_button disabled");
    }

    var aBuilder = new TagBuilder("a");
    aBuilder.MergeAttribute("href", link.Url ?? "#");

    // Ajax support
    if (Model.AjaxOptions != null)
    {
        foreach (var ajaxOption in Model.AjaxOptions.ToUnobtrusiveHtmlAttributes())
        {
            aBuilder.MergeAttribute(ajaxOption.Key, ajaxOption.Value.ToString(), true);
        }
    }

    aBuilder.SetInnerText(link.DisplayText);

    liBuilder.InnerHtml = aBuilder.ToString();

    @Html.Raw(liBuilder.ToString())
}
