﻿@using HopiAmp.Helpers
@model HopiAmp.Models.Post
@{
    var url = Utilities.AppSetting("CDNPath");
}
<!-- Facebook Metas-->
<meta property="og:title" content="@Html.Raw(Model.PostTitle)">
<meta property="og:description" content="@Html.Raw(Model.PostShortDescription)">
<meta property="og:type" content="website">
<meta property="og:url" content="@Request.Url.AbsoluteUri/icerik-detay">
<meta property="og:image" content="@url@Model.MobileImage">
<meta property="og:image:type" content="image/png">
<!-- Twitter Metas-->
<meta name="twitter:card" content="@url@Model.MainImage">
<meta name="twitter:site" content="@("@hopiblog")">
<meta name="twitter:creator" content="@("@hopiblog")">
<meta name="twitter:title" content="@Html.Raw(Model.PostTitle)">
<meta name="twitter:description" content="@Html.Raw(Model.PostShortDescription)">
<meta name="twitter:image" content="@url@Model.MobileImage">