﻿@using HopiBlog.Helpers
@model HopiBlog.ViewModels.Site.HomePageViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Hopi Blog";
    var url = Utilities.AppSetting("CDNPath");
}
@section Meta {
    <meta name="description" content="Hopi Blog">
}
<!-- Header ends here-->
<!-- Main Carousel starts here-->
<div class="owl-carousel visible-md visible-lg" id="main-carousel">
    @foreach (var slider in Model.Sliders)
    {
        <!-- Carousel items-->
        <article class="main-carousel__item" style="background-image: url('@url@slider.Image');" alt="@slider.ImageAltText">
            <a class="main-carousel__link" href="@slider.Link" @if (slider.NoFollow == 1)
                                                               {
                                                                   @Html.Raw("rel='nofollow'")
                                                               }>
            </a>
            <div class="container main-carousel__holder">
                <h2 class="main-carousel__title">@Html.Raw(slider.TopText)</h2>
                <p class="main-carousel__content">@Html.Raw(slider.BottomText)</p>
            </div>
        </article>
    }
</div>
<!-- Main Carousel ends here-->
<!-- Card Carousel starts here-->
<div class="visible-xs visible-sm">
    <div class="container">
        <h2 class="mobile-title">En Çok Okunanlar</h2>
        <div class="card-container">
            <div class="owl-carousel" id="card-carousel">
                @foreach (dynamic mostRead in Model.MostRead)
                {
                    var link = Html.SetUrl((byte) mostRead.PostType, (string) mostRead.PostSlug, (string) mostRead.CatSlug);
                    <article class="card-item">
                        <a class="card-item__image" href="@link">
                            <img src="@url@mostRead.MobileImage" alt="@mostRead.PostTitle">
                        </a>
                        <div class="card-item__content">
                            <h2 class="card-item__title">
                                <a href="@link">@mostRead.PostTitle</a>
                            </h2>
                            <span class="card-item__category">
                                <a href="@link">@mostRead.CatName</a>
                            </span>
                        </div>
                    </article>
                }
            </div>
        </div>
    </div>
</div>
<div class="container card-container__holder">
    <h2>Son Eklenenler</h2>
    <!-- Card component starts here-->
    <div class="card-container row more">
        <!-- Card item-->
        @foreach (dynamic latest in Model.LatestPosts)
        {
            var link = Html.SetUrl((byte) latest.PostType, (string) latest.PostSlug, (string) latest.CatSlug);
            <div class="col-sm-6 col-md-4">
                <article class="card-item">
                    <a class="card-item__image" href="@link">
                        <img src="@url@latest.MobileImage" alt="@latest.PostTitle">
                        @if (latest.PostType == 2)
                        {
                            <span class="card-item__video video--orange">Video</span>
                        }
                    </a>
                    <div class="card-item__content">
                        <h2 class="card-item__title">
                            <a href="@link">@latest.PostTitle</a>
                        </h2>
                        <div class="card-item__description">
                            <a href="@link">@latest.PostShortDescription</a>
                        </div><span class="card-item__category">
                            <a href="@link"></a>
                        </span>
                    </div>
                </article>
            </div>
        }
    </div>
    @if (Model.TotalPost > Convert.ToInt32(Utilities.AppSetting("ListerCount")))
    {
        <div class="load-more-button load-more">
            <div class="load-more-button__container"></div>
            <div class="load-more-button__text"> <span class="icon-chevron-down"></span>DAHA FAZLA</div>
            <div class="load-more-button__spinner"></div>
        </div>
    }
</div>
@section ExScripts
{
    <script>
        var index = 1;
        $(function() {

            $(".load-more").on("click",
                function(e) {
                    e.preventDefault();
                    var self = $(this);
                    var html = '';
                    var url = '@url';
                    var link = '';
                    $.post('@Url.RouteUrl("LoadMore")',
                        { i: index },
                        function(res) {
                            var cnt = res.length;
                            if (cnt < @ViewBag.Counter) {
                                self.hide();
                            }
                            $.each(res,
                                function(i, item) {
                                    switch (item.PostType) {
                                    case 1:
                                        link = '/' + item.PostSlug;
                                        break;
                                    case 2:
                                        link = '/video/' + item.CatSlug + '/' + item.PostSlug;
                                        break;
                                    case 3:
                                        link = '/fotograf-galerisi/' + item.CatSlug + '/' + item.PostSlug;
                                        break;
                                    case 4:
                                        link = '/liste/' + item.CatSlug + '/' + item.PostSlug;
                                        break;
                                    case 5:
                                        link = 'alisveris/' + item.PostSlug;;
                                        break;
                                    }
                                    @(Convert.ToInt32(ViewData["Mobile"]) == 1 ? Html.Raw("html += '<div class=\"col-xs-12\">'") : Html.Raw("html += '<div class=\"col-sm-6 col-md-4\">'"))
                                        html += '   <div class="card-item">';
                                        html += '    <a class="card-item__image" href="'+link+'">';
                                        html += '    <img src="' +
                                            url +
                                            item.MobileImage +
                                            '" alt="' +
                                            item.PostTitle +
                                            '">';
                                        if (item.PostType == 2) {
                                            html += '<span class="card-item__video video--orange">Video</span>';
                                        }
                                        html += '    </a>';
                                        html += '    <div class="card-item__content">';
                                        html += '    <h2 class="card-item__title">';
                                        html += '   <a href="'+link+'">' + item.PostTitle + '</a>';
                                        html += '    </h2>';
                                        html += '    <div class="card-item__description">';
                                        html += '    <a href="'+link+'">' + item.PostShortDescription + '</a>';
                                        html += '    </div><span class="card-item__category">';
                                        html += '    <a href="'+link+'"></a>';
                                        html += '    </span>';
                                        html += '    </div>';
                                        html += '    </div>';
                                        html += '    </div>';
                                    });

                                $("div.more").append(html);
                                index++;
                            stopSpinner();
                        },
                        'json');
                });
        });
    </script>
}

