﻿@using System.Globalization
@using HopiBlog.Helpers
@model HopiBlog.ViewModels.Site.ContentListViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Model.Tag != null ? Model.Tag + " etiketli yazılar " : Model.Category.ToLower(new CultureInfo("tr-TR", false)) + " kategorili yazılar ";
    var url = Utilities.AppSetting("CDNPath");
}
@section Meta {

    @if (Model.Tag != null)
    {
        <meta name="description" content="@Model.Tag etiketli yazılar listeleniyor.">
    }
    else
    {
        <meta name="description" content="@Model.Category kategorili yazılar listeleniyor.">
    }
}
<div class="wide-content">
    <div class="container">
        <!-- Result text-->
        @if (Model.Post.Any())
        {
            if (Model.Tag != null)
            {
                <h1 class="result">“<span>@Model.Tag</span>” etiketli yazılar listeleniyor.
                </h1>
            }
            else
            {
                <h1 class="result">“<span>@Model.Category</span>” kategorili yazılar listeleniyor.
                </h1>
            }


            <div class="result-container">
                <div class="card-container row more">
                    <!-- Card item-->
                    @foreach (dynamic content in Model.Post)
                    {
                        var link = Html.SetUrl((byte) content.PostType, (string) content.PostSlug,(string) content.CatSlug);

                        <div class="col-sm-6 col-md-4">
                            <div class="card-item"><a class="card-item__image" href="@link"><img src="@url@content.MobileImage" alt="@content.PostTitle">
                                    @if (content.PostType == 2)
                                    {
                                        <span class="card-item__video video--orange">Video</span>
                                    }</a>
                                <div class="card-item__content">
                                    <h2 class="card-item__title"><a href="@link">@content.PostTitle</a></h2>
                                    <div class="card-item__description"><a href="@link">@content.PostShortDescription</a>
                                    </div><span class="card-item__category"> <a href="@link">@content.CatName</a></span>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <!--<div class="load-more-button load-more">
                    <div class="load-more-button__container"></div>
                    <div class="load-more-button__text"> <span class="icon-chevron-down"></span>DAHA FAZLA</div>
                    <div class="load-more-button__spinner"></div>
                </div>-->
            </div>
        }
        else
        {
            <div class="result">“<span>@ViewBag.Word</span>” ile ilgili hiçbir içerik bulunamadı!
            </div>
        }
    </div>
</div>
@section ExScripts
{
    <script>
        var index = 1;
        $(function() {

            $(".load-more").on("click",
                function(e) {
                    e.preventDefault();
                    var self = $(this);
                    var html = '';
                    var url = '@url';
                    var link = '';
                    $.post('@Url.RouteUrl("LoadMoreTags")',
                        { i: index },
                        function(res) {
                            var cnt = res.length;
                            if (cnt < @ViewBag.Counter) {
                                self.hide();
                            }
                            $.each(res,
                                function(i, item) {
                                    switch (item.PostType) {
                                    case 1:
                                        link = '/' + item.PostSlug;
                                        break;
                                    case 2:
                                        link = '/video/' + item.CatSlug + '/' + item.PostSlug;
                                        break;
                                    case 3:
                                        link = '/fotograf-galerisi/' + item.CatSlug + '/' + item.PostSlug;
                                        break;
                                    case 4:
                                        link = '/liste/' + item.CatSlug + '/' + item.PostSlug;
                                        break;
                                    case 5:
                                        link = 'alisveris/' + item.PostSlug;;
                                        break;
                                    }
                                    @(Convert.ToInt32(ViewData["Mobile"]) == 1 ? Html.Raw("html += '<div class=\"col-xs-12\">'") : Html.Raw("html += '<div class=\"col-sm-6 col-md-4\">'"))
                                        html += '   <div class="card-item">';
                                        html += '    <a class="card-item__image" href="'+link+'">';
                                        html += '    <img src="' +
                                            url +
                                            item.MobileImage +
                                            '" alt="' +
                                            item.PostTitle +
                                            '">';
                                        if (item.PostType == 2) {
                                            html += '<span class="card-item__video video--orange">Video</span>';
                                        }
                                        html += '    </a>';
                                        html += '    <div class="card-item__content">';
                                        html += '    <h2 class="card-item__title">';
                                        html += '   <a href="'+link+'">' + item.PostTitle + '</a>';
                                        html += '    </h2>';
                                        html += '    <div class="card-item__description">';
                                        html += '    <a href="'+link+'">' + item.PostShortDescription + '</a>';
                                        html += '    </div><span class="card-item__category">';
                                        html += '    <a href="'+link+'"></a>';
                                        html += '    </span>';
                                        html += '    </div>';
                                        html += '    </div>';
                                        html += '    </div>';
                                    });

                                $("div.more").append(html);
                                index++;
                            stopSpinner();
                        },
                        'json');
                });
        });
    </script>
}

