﻿@using System.Globalization
@using HopiBlog.Helpers
@model IEnumerable<object>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = ViewBag.Word.ToLower(new CultureInfo("tr-TR", false)) + " için arama sonuçları";
    var url = Utilities.AppSetting("CDNPath");
}

@section Meta {
    <meta name="description" content="@ViewBag.Word için arama sonuçları gösteriliyor">  
}

<div class="wide-content">
      <div class="container">
          <!-- Result text-->
          
          @if (Model.Any())
          {
                                     
              <!-- Result for desktop only-->
              <h1 class="result visible-md visible-lg">“<span>@ViewBag.Word.ToLower(new CultureInfo("tr-TR", false))</span>” için arama sonuçları gösteriliyor</h1>
              <!-- Result for mobile, also customer can do another search.-->
              <h1 class="result-mobile visible-xs visible-sm">
                  <input class="result-mobile__input" type="text" value="@ViewBag.Word.ToLower(new CultureInfo("tr-TR", false))"><a class="clear-input" href="#"></a>
              </h1>
                                                                                                 
              <div class="result-container">
                  <div class="card-container row">
                      <!-- Card item-->
                      @foreach (dynamic content in Model)
                      {
                          var link = Html.SetUrl((byte)content.PostType, (string)content.PostSlug, (string) content.CatSlug);        
                          <div class="col-sm-6 col-md-4">
                              <div class="card-item"><a class="card-item__image" href="@link"><img src="@url@content.MainImage" alt="@content.PostTitle">
                                      @if(content.PostType == 2){<span class="card-item__video video--orange">Video</span>}</a>
                                  <div class="card-item__content">
                                      <h2 class="card-item__title"><a href="@link">@content.PostTitle</a></h2>
                                      <div class="card-item__description"><a href="@link">@content.PostShortDescription</a></div>
                                      <span class="card-item__category"> <a href="@link">@content.CatName</a></span>
                                  </div>
                              </div>
                          </div>
                      }
                  </div>
              </div>
          }
          else
          {
              <h1 class="result">“<span>@ViewBag.Word.ToLower(new CultureInfo("tr-TR", false))</span>” ile ilgili hiçbir içerik bulunamadı!</h1>
          }
          
       
      </div>
    </div>
