﻿@using System.Globalization
@using System.Web.Http.Validation
@using HopiBlog.Helpers
@model HopiBlog.ViewModels.Site.SpecialContentViewModel

@{
    Layout = "~/Views/Shared/_SpecialContentLayout.cshtml";
    ViewBag.Title = Model.Post.HtmlTitle;
    var url = Utilities.AppSetting("CDNPath");
    var culture = new CultureInfo("tr-TR");
}
@section Meta {
    <meta name="description" content="@Model.Post.HtmlMetaDesc">
    @if (Model.Post.NoFollow == 1)
    {
        <meta name="robots" content="NOINDEX, NOFOLLOW">
    }
}
@section Social
{
    @{ Html.RenderPartial("Partial/Social", Model.Post); }
}

<!-- Header ends here-->
<section class="special-content">
    <div class="container">
        <div class="special-content__title">
            <div class="row">
                <div class="col-xs-12 col-lg-10 col-lg-offset-1">
                    @Model.Post.PostShortDescription
                </div>
            </div>
        </div>
    </div>
    @{ var index = 1}
    @foreach (var l in Model.ListElements)
    {
        <div class="specia-image" style="background-image: url(@url@l.ListImage)"><img src="/Static/fe/assets/img/parallax-bg.png">
            <div class="container specia-image__holder">
                <div class="row">
                    <div class="col-xs-12 col-md-8 col-md-offset-2">@index</div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <article class="col-xs-12 col-md-8 col-md-offset-2 special-product__holder">
                    <div class="special-product__title">
                        <h2>İltifat seven annelere</h2>
                        <h3>Çiçekli Tebrik Kartı</h3>
                        <div class="spot">
                            <p>Etiam suscipit ligula nec leo pretium suscipit. Vivamus congue et nibh venenatis volutpat. Maecenas tempor, nulla imperdiet pharetra </p>
                        </div>
                    </div>
                    <div class="shop-content-container">
                        <div class="shop-content__item">
                            <h4>Nulla imperdiet erat non dolor pulvinar.<br>Pellentesue habitant</h4><img class="shop-content__image" src="assets/img/special-product-1.jpg">
                            <p>Nunc eu velit eget justo mattis gravida vel in urna.</p>
                            <div class="shop-content__holder">
                                <div class="shop-content__price">13,90 TL</div>
                                <div class="shop-content__firm">Morhipo'da</div><a class="shop-content__button ripple-o" href="javascript:;">SATIN AL</a>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        index++;
    }
</section>
<!-- Newsletter module starts here-->
<div class="newsletter-container newsletter-form">
    <h2>Hopi Blog her hafta posta kutuna gelsin</h2>
    <div class="newsletter__holder clearfix">
        <form>
            <input class="newsletter__button" type="submit" value="Abone Ol">
            <input class="newsletter__input" type="text" placeholder="örnek@gmail.com">
        </form>
    </div><svg version="1.1" id="tick" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 37 37" style="enable-background: new 0 0 37 37;" xml:space="preserve"><polyline class="tick path" style="fill: none; stroke: #F99E26; stroke-width: 1; stroke-linejoin: round; stroke-miterlimit: 10;" points="11.6,20 15.9,24.2 26.4,13.8 "/></svg>
    <h2 id="newsletterMessage">Teşekkürler</h2>
</div>
<!-- Newsletter module ends here-->
<!-- Footer starts here-->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <!-- footer logo--><a class="fo-logo" href="http://www.hopi.com.tr"><img src="@Url.Content("~/Static/fe/assets/img/logo-hopi.png")" alt="Hopi">Hopi.com.tr’ye git</a>
            </div>
            <div class="col-sm-6">
                <!-- mobile app buttons-->
                <div class="fo-buttons">
                    <div class="fo-buttons_title">ÜCRETSİZ İNDİRMEK İÇİN</div><a class="fo-buttons__appstore" href="#">
                        <img src="@Url.Content("~/Static/fe/assets/img/app-store.png")" alt="App Store">
                    </a><a class="fo-buttons__googleplay" href="#">
                        <img src="@Url.Content("~/Static/fe/assets/img/googleplay.png")" alt="Google Play">
                    </a>
                </div>
            </div>
            <div class="col-sm-3">
                <!-- social media buttons-->
                <ul class="social-media clearfix">
                    <li class="social-media__item">
                        <a href="#">
                            <span class="icon-facebook"></span>
                        </a>
                    </li>
                    <li class="social-media__item">
                        <a href="#">
                            <span class="icon-twitter"></span>
                        </a>
                    </li>
                    <li class="social-media__item">
                        <a href="#">
                            <span class="icon-instagram"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <!-- copyright-->
                <div class="copyright">
                    2017 Tüm hakları BNR Teknoloji A.Ş.’de saklıdır. Bilgi Toplumu Hizmetleri için <a href="#">tıklayın.</a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer ends here-->
<!-- Search Mobile Module starts here-->
<div class="search-fixed-module">
    <input class="search-fixed-module__input" type="text" placeholder="Aranacak bir kelime yazın"><a class="search-fixed-module__close" href="#"></a>
</div>



