﻿@using System.Globalization
@using HopiBlog.Helpers
@model HopiBlog.ViewModels.Site.SpecialContentViewModel

@{
    Layout = "~/Views/Shared/_SpecialContentLayout.cshtml";
    ViewBag.Title = Model.Post.HtmlTitle;
    var url = Utilities.AppSetting("CDNPath");
    var culture = new CultureInfo("tr-TR");
}
@section Meta {
    <meta name="description" content="@Model.Post.HtmlMetaDesc">
    @if (Model.Post.NoFollow == 1)
    {
        <meta name="robots" content="NOINDEX, NOFOLLOW">
    }
}
@section Social
{
    @{ Html.RenderPartial("Partial/Social", Model.Post); }
}

<!-- html and body requires .swiper-holder class!!!-->
    <!-- Slider main container-->
    <div class="swiper-container">
      <!-- Additional required wrapper-->
      <div class="swiper-wrapper">
        <!-- Slides-->
        <div class="swiper-slide">
          <div class="swiper-slider__container">
            <div class="swiper-slider__cover swiper-bg--1">
              <div class="swiper-slider-cover__holder">
                <h1>10 Paracıkla Annene Alabileceğin 10 Hediye</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac magna non lectus pellentesque viverra. Praesent semper, metus finibus luctus vestibulum</p><a class="swiper-discover" href="#">keşfetmeye başla<span class="icon-down"></span></a>
              </div>
            </div>
          </div>
        </div>
          <div class="swiper-slide">
             
              @foreach (var l in Model.ListElements)
              {
                  <div class="swiper-slider__container">
                      <div class="swiper-slider__cover swiper-bg--2">
                          <div class="swiper-slider-cover__holder">
                              <h2><span>1</span> İltifat seven annelere:<br>Çiçekli Tebrik Kartı
                              </h2><a class="swiper-slider__button" href="#">içeriği oku<span class="icon-down"></span></a>
                          </div>
                      </div>
                      <div class="swiper-slider__content">
                          <div class="swiper-slider-content__image"><img src="assets/img/swiper-slider-item-image-2.png"><a class="swiper-slider-button__return" href="#"> <span class="icon-down"></span>listeye dön</a>
                              <h2><span>1</span> İltifat seven annelere:<br>Çiçekli Tebrik Kartı
                              </h2>
                          </div>
                          <div class="swiper-slider-content__holder">
                              <div class="sub-title visible-xs visible-sm">
                                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac magna non lectus pellentesque viverra. Praesent semper, metus finibus luctus vestibulum</p>
                              </div>
                              <!-- Shop Content starts here-->
                              <div class="shop-content-container">
                                  <!-- Shop item-->
                                  <div class="shop-content__item">
                                      <h4>Nulla imperdiet erat non dolor pulvinar. Pellentesue habitant</h4><img class="shop-content__image" src="assets/img/shop-image-1.jpg">
                                      <p>Nunc eu velit eget justo mattis gravida vel in urna.</p>
                                      <div class="shop-content__holder">
                                          <div class="shop-content__price">13,90 TL</div>
                                          <div class="shop-content__firm">Morhipo'da</div><a class="shop-content__button ripple-o" href="#">SATIN AL</a>
                                      </div>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-xs-12">
                                      <div class="credit">
                                          <div class="date">12 Kasım 2017</div>
                                          <blockquote>Credit: Lorem Ipsum dolot sit amet</blockquote>
                                      </div>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-md-8">
                                      <div class="tags">
                                          <h3>ETİKETLER</h3>
                                          <div class="tag-list"><a href="#">Yemek</a><a href="#">Restaurant</a>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="col-md-4">
                                      <div class="visible-xs">
                                          <!-- a.return-home-icon(href="#") Anasayfa Dön-->
                                          <h6>Bu içeriği paylaş</h6>
                                      </div>
                                      <div class="content-share">
                                          <h3>YAZIYI PAYLAŞ</h3>
                                          <ul class="content-share__holder clearfix">
                                              <li class="content-share__item"><a href="#"><span class="icon-twitter"></span></a></li>
                                              <li class="content-share__item"><a href="#"><span class="icon-facebook"></span></a></li>
                                              <li class="content-share__item"><a href="#"><span class="icon-whatsapp"><span class="path1"></span><span class="path2"></span></span></a></li>
                                          </ul>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <!-- Sidebar starts from here-->
                          <aside class="col-md-3 sidebar_holder">
                              <h2>Benzer Yazılar</h2>
                              <!-- Similiar words module-->
                              <div class="similiar-words clearfix">
                                  <!-- Similiar words item-->
                                  <div class="similiar-words__item clearfix">
                                      <div class="similiar-words__image"><a href="#"><img src="assets/img/similiar-1.jpg"></a>
                                      </div>
                                      <div class="similiar-words__title"><a href="#">Stilinizi Tamamlayan Aksesuarlar</a>
                                      </div>
                                  </div>
                                  <!-- Similiar words item-->
                                  <div class="similiar-words__item clearfix">
                                      <div class="similiar-words__image"><a href="#"><img src="assets/img/similiar-2.jpg"></a>
                                      </div>
                                      <div class="similiar-words__title"><a href="#">Şehirden uzak doğaya yakın tatil beldesi “Kabak”</a>
                                      </div>
                                  </div>
                                  <!-- Similiar words item-->
                                  <div class="similiar-words__item clearfix">
                                      <div class="similiar-words__image"><a href="#"><img src="assets/img/similiar-3.jpg"></a>
                                      </div>
                                      <div class="similiar-words__title"><a href="#">Yırt Pantolon Modasını Tamamlayan Aksesuar Örnekleri</a>
                                      </div>
                                  </div>
                                  <!-- Similiar words item-->
                                  <div class="similiar-words__item clearfix">
                                      <div class="similiar-words__image"><a href="#"><img src="assets/img/similiar-4.jpg"></a>
                                      </div>
                                      <div class="similiar-words__title"><a href="#">Bahar Modası; Trençkotlar</a>
                                      </div>
                                  </div>
                              </div>
                          </aside>
                          <!-- Sidebar ends here-->
                      </div>
                  </div>
              }
          </div>
      </div>
    </div>


