﻿@using HopiBlog.Helpers
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    div.editable {
        width: 600px;
        height: 400px;
        border: 1px solid #ccc;
        padding: 5px;
        text-decoration:none;
    }
</style>
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEAD-->
        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h1>Robots.txt</h1>
            </div>
            <!-- END PAGE TITLE -->
        </div>
        <!-- END PAGE HEAD-->
        <!-- BEGIN PAGE BREADCRUMB -->
        <ul class="page-breadcrumb breadcrumb">

        </ul>
        <!-- END PAGE BREADCRUMB -->
        <!-- BEGIN PAGE BASE CONTENT -->
        <div class="portlet light bordered">
            <div class="portlet-body form">
                <!-- BEGIN FORM-->

               
                <form id="content-form" method="post" action="@Url.Action("UpdateRobots", "Backoffice")" class="horizontal-form" onsubmit="return getContent()">


                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="alert alert-info">
                                    <strong>Bilgi!</strong> Robots.txt içeriğini değiştirebilmeniz için sistem yöneticisi tarafından bu dosyaya <strong>yazma</strong> yetkisi verilmelidir </div>
                                <label class="control-label">Robots.txt İçeriği</label><span></span>
                                <!--<textarea id="rcode" name="rcode" class="form-control" rows="10" value="">@Html.Nl2Br((string) ViewBag.Robots)</textarea>-->
                                <textarea id="rcode" name="rcode" class="form-control" rows="10" value="">@ViewBag.Robots</textarea>

                            </div>
                        </div>
                        <!--/span-->

                    </div>
                 
                    <div class="form-actions right">
                        <button type="submit" class="dt-button btn-circle buttons-html5 btn green-jungle">
                            <i class="fa fa-check"></i> Kaydet
                        </button>
                       
                    </div>
                </form>
             
                <!-- END FORM-->
            </div>
        </div>
        <!-- END PAGE BASE CONTENT -->
    </div>
    <!-- END CONTENT BODY -->
</div>
@section Script
{
    <script>
        function getContent(){
            App.blockUI({
                boxed: true,
                message: 'İşleminiz yapılırken lütfen bekleyiniz'
            });
        }
    </script>
}
