﻿@using HopiBlog.Helpers
@model IEnumerable<HopiBlog.Models.SiteMap>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var bundle = Utilities.AppSetting("RoutePrefix") == "/" ? "~" : "/" + Utilities.AppSetting("RoutePrefix");
}

<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN BORDERED TABLE PORTLET-->
                <div class="portlet light portlet-fit bordered">
                    <div class="portlet-title">
                        <div class="caption">
                            <span class="caption-subject font-red sbold uppercase">@ViewBag.Title</span>
                        </div>
                        <div class="actions">
                            <a id="sel-all-btn" href="#" class="btn btn-circle red btn-sm hidden">
                                <i class="fa fa-trash"></i> Sil
                            </a>
                            @if (string.IsNullOrEmpty(ViewBag.Search))
                            {
                                <a href="@Url.Action("AddSiteMap", "Backoffice", new {type = ViewBag.Type})" class="btn btn-circle green btn-sm">
                                    <i class="fa fa-plus"></i> Yeni Ekle
                                </a>
                            }
                        </div>
                    </div>
                    @if (Model.Any())
                    {
                        <div class="portlet-body">
                            <div class="note note-info">
                                <h4 class="block">Bilgi</h4>
                                <p> İlgili satırın (URL hariç) değerlerini üstüne tıklayarak yeni değer ile değiştirebilirsiniz </p>
                            </div>
                            <div class="table-scrollable table-scrollable-borderless">

                                <table id="smTable" class="table table-hover table-light">
                                    <thead>
                                    <tr class="uppercase">
                                        <th>Url</th>
                                        <th>Priority</th>
                                        <th>Last Modified</th>
                                        <th>ChangeFreq</th>
                                        <th>Type</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    @foreach (var siteMap in Model)
                                    {
                                        <tr>

                                            <td>@siteMap.Url</td>
                                            <td class="editable" data-id="@siteMap.Id" data-what="Priority">@siteMap.Priority</td>
                                            <td class="editable" data-id="@siteMap.Id" data-what="LastModified">@siteMap.LastModified</td>
                                            <td class="editable" data-id="@siteMap.Id" data-what="ChangeFreq">@siteMap.ChangeFreq</td>

                                            @if (siteMap.Type == 1)
                                            {
                                                <td>
                                                    <span class="label label-info"> Kategori </span>
                                                </td>
                                            }
                                            else
                                            {
                                                <td>
                                                    <span class="label label-success"> Alt Sayfa </span>
                                                </td>
                                            }

                                        </tr>
                                    }
                                    </tbody>
                                </table>

                            </div>

                        </div>
                    }
                </div>
                <!-- END BORDERED TABLE PORTLET-->
            </div>
        </div>
    </div>
    <!-- END PAGE BASE CONTENT -->
</div>
@section Script {
    <script src="@bundle/Static/be/assets/pages/scripts/editable-table.js"></script>
    <script>
        $(function() {

            $('#smTable').editableTableWidget().on('change',
                function(evt, newValue) {
                    var id = $(evt.target).data("id"),
                        what = $(evt.target).data("what");

                    $.post('@Url.Action("UpdateSiteMapValue","Backoffice")',
                        {i: id, v: newValue, w: what },
                        function(ret) {
                            if (ret.status) {
                                alertify.message('İşleminiz gerçekleştirildi!');
                            }
                        },'json');

                });;

            $("a.del").on('click',
                function(e) {
                    var i = $(this).data('id');
                    e.preventDefault();
                    alertify.confirm('Uyarı',
                        'Silmek istediğinizden emin misiniz?',
                        function() {
                            App.blockUI({
                                boxed: true,
                                message: 'İşleminiz yapılırken lütfen bekleyiniz'
                            });
                            $.post('@Url.Action("DeletePost", "Backoffice")',
                                { id: i },
                                function(ret) {
                                    if (ret) {
                                        location.reload();
                                    }
                                },
                                "json");
                        },
                        null);
                });
        });
    </script>
}
