﻿@model HopiBlog.Models.BackEndUser

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEAD-->
        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h1>Panel Kullanıcısı</h1>
            </div>
            <!-- END PAGE TITLE -->
        </div>
        <!-- END PAGE HEAD-->
        <!-- BEGIN PAGE BREADCRUMB -->
        <ul class="page-breadcrumb breadcrumb">

        </ul>
        <!-- END PAGE BREADCRUMB -->
        <!-- BEGIN PAGE BASE CONTENT -->
        <div class="portlet light bordered">
            <div class="portlet-body form">
                <!-- BEGIN FORM-->

                @if (Model != null)
                {
                    <form id="content-form" method="post" action="@Url.Action("UpdateBackEndUser", "Backoffice")" class="horizontal-form">


                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Kullanıcı Adı</label>

                                    <input type="text" id="name" name="name" class="form-control"
                                           value="@Model.UserName">
                                  
                                </div>
                            </div>
                            <!--/span-->

                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Şifre</label>

                                    <input type="password" id="password" name="password" class="form-control"
                                           value="@Model.Password">
                                    
                                </div>
                            </div>
                            <!--/span-->

                        </div>

                        <div class="form-actions right">
                            <button type="submit" class="dt-button btn-circle buttons-html5 btn green-jungle">
                                <i class="fa fa-check"></i> Kaydet
                            </button>
                            <input type="hidden" value="@Model.Id" name="aid">

                        </div>
                    </form>
                }
                else
                {
                    <form id="content-form" method="post" action="@Url.Action("AddBackEndUser", "Backoffice")"
                          class="horizontal-form">

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Kullanıcı Adı</label>

                                    <input type="text" id="name" name="name" class="form-control"
                                           value="">
                                    
                                </div>
                            </div>
                            <!--/span-->

                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Şifre</label>

                                    <input type="password" id="password" name="password" class="form-control"
                                           value="">
                                    
                                </div>
                            </div>
                            <!--/span-->

                        </div>

                        <div class="form-actions right">
                            <button type="submit" class="dt-button btn-circle buttons-html5 btn green-jungle">
                                <i class="fa fa-check"></i> Kaydet
                            </button>

                        </div>
                    </form>
                }
                <!-- END FORM-->
            </div>
        </div>
        <!-- END PAGE BASE CONTENT -->
    </div>
    <!-- END CONTENT BODY -->
</div>
@section Script{
    <script>


        var Page = function() {

            var handlePage = function() {


                $('#content-form').validate({
                    errorElement: 'span', //default input error message container
                    errorClass: 'help-block', // default input error message class
                    focusInvalid: true, // do not focus the last invalid input
                    rules: {
                        name: {
                            required: true
                        },
                        password: {
                            required: true
                        }
                    },

                    invalidHandler: function(event, validator) { //display error alert on form submit
                        $('.alert-danger', $('#compliant-form')).show();
                    },

                    highlight: function(element) { // hightlight error inputs
                        $(element)
                            .closest('.form-group').addClass('has-error'); // set error class to the control group
                    },

                    success: function(label) {
                        label.closest('.form-group').removeClass('has-error');
                        label.remove();
                    },

                    errorPlacement: function(error, element) {
                        error.insertAfter(element.closest('.input-icon'));
                    },

                    submitHandler: function(form) {
                        App.blockUI({
                            boxed: true,
                            message: 'İşleminiz yapılırken lütfen bekleyiniz'
                        });
                        form.submit(); // form validation success, call ajax form submit
                    }
                });

                $('#content-form input').keypress(function(e) {
                    if (e.which == 13) {
                        if ($('#content-form').validate().form()) {
                            App.blockUI({
                                boxed: true,
                                message: 'İşleminiz yapılırken lütfen bekleyiniz'
                            });
                            $('#content-form').submit(); //form validation success, call ajax form submit
                        }
                        return false;
                    }
                });

            };

            return {
                //main function to initiate the module
                init: function() {
                    handlePage();
                }
            };

        }();

        jQuery(document).ready(function() {
            Page.init();
        });
    </script>
}
