﻿@model IEnumerable<HopiBlog.Models.BackEndUser>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN BORDERED TABLE PORTLET-->
                <div class="portlet light portlet-fit bordered">
                    <div class="portlet-title">
                        <div class="caption">
                            <span class="caption-subject font-red sbold uppercase">Panel Kullanıcı Listesi</span>
                        </div>
                        <div class="actions">
                            <a href="@Url.Action("BackEndUser","Backoffice")" class="btn btn-circle green btn-sm">
                                <i class="fa fa-plus"></i> Yeni Panel Kullanıcısı Ekle</a>
                        </div>
                    </div>
                    @if (Model.Any())
                    {
                        <div class="portlet-body">

                            <div class="table-scrollable table-scrollable-borderless">

                                <table class="table table-hover table-light">
                                    <thead>
                                    <tr class="uppercase">
                                        <th>Kullanıcı Adı</th>
                                        <th>İşlem</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    @foreach (var user in Model)
                                    {
                                        <tr>
                                            <td>@user.UserName</td>
                                            <td>
                                                <a href="@Url.Action("BackEndUser", "Backoffice", new {id = user.Id})" style="text-decoration: none">
                                                    <span class="btn btn-outline btn-circle btn-sm green-jungle">
                                                        <i class="fa fa-edit">
                                                        </i> Düzenle
                                                    </span>
                                                </a>
                                                <a href="#" class="del" data-id="@user.Id">
                                                    <span class="btn btn-outline btn-circle btn-sm red">
                                                        <i class="fa fa-trash-o">
                                                        </i> Sil
                                                    </span>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    }
                </div>
                <!-- END BORDERED TABLE PORTLET-->
            </div>
        </div>
    </div>
    <!-- END PAGE BASE CONTENT -->
</div>
@section Script {
  
    <script>
        $(function() {
           
            $("a.del").on('click',
                function(e) {
                    var i = $(this).data('id');
                    e.preventDefault();
                    alertify.confirm('Uyarı', 'Silmek istediğinizden emin misiniz?', function () {
                        App.blockUI({
                            boxed: true,
                            message: 'İşleminiz yapılırken lütfen bekleyiniz'
                        });
                        $.post('@Url.Action("DeleteBackEndUser","Backoffice")',
                            { id : i },
                            function(ret) {
                                if (ret) {
                                    location.reload();
                                }
                            },"json");
                    }, null);
                });
        });
    </script>
}
