﻿@model HopiBlog.ViewModels.Admin.DashBoardViewModel

@{

    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEAD-->
        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h1>
                    Hopi Blog Yönetim Paneli
                    <small>istatistikler</small>
                </h1>
            </div>
            <!-- END PAGE TITLE -->
        </div>
        <!-- END PAGE HEAD-->

        <!-- BEGIN PAGE BASE CONTENT -->
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="dashboard-stat2 bordered">
                    <div class="display" style="margin-bottom: 0">
                        <div class="number">
                            <h3 class="font-green-sharp">
                                <span data-counter="counterup" data-value="@Model.Posts.Count()">0</span>
                            </h3>
                            <small>Toplam İçerik</small>
                        </div>
                        <div class="icon">
                            <i class="icon-plus"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="dashboard-stat2 bordered">
                    <div class="display" style="margin-bottom: 0">
                        <div class="number">
                            <h3 class="font-red-haze">
                                <span data-counter="counterup" data-value="@Model.Posts.Count(p => p.PostType == 1)">0</span>
                            </h3>
                            <small>Toplam Düz Yazı İçerik</small>
                        </div>
                        <div class="icon">
                            <i class="icon-notebook "></i>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="dashboard-stat2 bordered">
                    <div class="display" style="margin-bottom: 0">
                        <div class="number">
                            <h3 class="font-green-sharp">
                                <span data-counter="counterup" data-value="@Model.Posts.Count(p => p.PostType == 3)">0</span>
                            </h3>
                            <small>Toplam Foto Galeri İçerik</small>
                        </div>
                        <div class="icon">
                            <i class="icon-picture"></i>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="dashboard-stat2 bordered">
                    <div class="display" style="margin-bottom: 0">
                        <div class="number">
                            <h3 class="font-blue-sharp">
                                <span data-counter="counterup" data-value="@Model.Posts.Count(p => p.PostType == 2)">0</span>
                            </h3>
                            <small>Toplam Video İçerik</small>
                        </div>
                        <div class="icon">
                            <i class="icon-social-youtube"></i>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="dashboard-stat2 bordered">
                    <div class="display" style="margin-bottom: 0">
                        <div class="number">
                            <h3 class="font-purple-soft">
                                <span data-counter="counterup" data-value="@Model.Posts.Count(p => p.PostType == 4)">0</span>
                            </h3>
                            <small>Toplam Listicle İçerik</small>
                        </div>
                        <div class="icon">
                            <i class="icon-list "></i>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="dashboard-stat2 bordered">
                    <div class="display" style="margin-bottom: 0">
                        <div class="number">
                            <h3 class="font-purple-soft">
                                <span data-counter="counterup" data-value="@Model.Posts.Count(p => p.PostType == 5)">0</span>
                            </h3>
                            <small>Toplam Shop Listicle İçerik</small>
                        </div>
                        <div class="icon">
                            <i class="icon-list "></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PAGE BASE CONTENT -->
    </div>
    <!-- END CONTENT BODY -->
</div>
